.container {
  background-image: url(../public/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    background-image: url(../public/background-mobile.webp);
  }
}

.body_container {
  width: 98vw;
  height: 98vh;
  border: .5vh solid white;
  position: relative;
}

.MainTitle {
  position: absolute;
  margin: 3vw;
  font-size: 3vw !important;
  letter-spacing: -0.06vh !important;
}

@media (max-width: 768px) {
  .MainTitle {
    display: none;
  }
}

.SideLine {
  position: absolute;
  top: 20vh;
  right: -8vh;
  transform: rotate(-90deg);
  font-style: normal;
  font-size: 2vh;
  cursor: pointer;
  z-index: 999999;
}

@media (max-width: 768px) {
  .SideLine {
    display: none;
  }
}

.RefsWrapper {
  position: absolute;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  bottom: 3vh;
  left: 6vh;
  z-index: 200;
}

@media (max-width: 768px) {
  .RefsWrapper {
    scale: .7;
    height: 25vh;
    flex-direction: column;
    bottom: -1vh;
    left: 1vw;
  }
}

@media (max-width: 570px) {
  .RefsWrapper {
    scale: .7;
    flex-direction: column;
    bottom: -1vh;
    left: 3vw;
  }
}

.RefsWrapper a {
  width: 6vh !important;
  height: 6vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear all .3s;
  transform: translateY(0vh);
}

.RefsWrapper a:hover .RefImg {
  transform: translateY(-2vh);
  transition: linear all .3s;
}

.RefImg {
  color: #ffffff;
  width: 6vh;
  height: 6vh;
  transition: linear all .3s;
}

@media (max-width: 570px) {
  .RefImg {
    width: 3vh;
    height: 3vh;
  }
}

.ashesWrapper {
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 100%;
  height: 97vh;
  overflow: hidden;
}

#stars {
  width: .3vh;
  height: .3vh;
  border-radius: 9999999px;
  background: transparent;
  box-shadow: 217px 97px #ff9528 , 1926px 1969px #ff9528 , 784px 1523px #ff9528 , 464px 201px #ff9528 , 1176px 1584px #ff9528 , 101px 1104px #ff9528 , 1769px 1167px #ff9528 , 670px 260px #ff9528 , 1907px 1178px #ff9528 , 1553px 1886px #ff9528 , 1035px 1470px #ff9528 , 176px 1603px #ff9528 , 499px 1828px #ff9528 , 677px 1654px #ff9528 , 1326px 75px #ff9528 , 264px 1108px #ff9528 , 439px 1718px #ff9528 , 46px 1908px #ff9528 , 1979px 1808px #ff9528 , 1768px 429px #ff9528 , 74px 167px #ff9528 , 1721px 1141px #ff9528 , 1069px 1965px #ff9528 , 113px 1232px #ff9528 , 383px 1559px #ff9528 , 1583px 1947px #ff9528 , 583px 1058px #ff9528 , 1864px 1434px #ff9528 , 877px 1093px #ff9528 , 428px 362px #ff9528 , 139px 206px #ff9528 , 826px 495px #ff9528 , 1874px 1551px #ff9528 , 1712px 1321px #ff9528 , 6px 1973px #ff9528 , 1197px 1696px #ff9528 , 1782px 1002px #ff9528 , 1745px 839px #ff9528 , 74px 1376px #ff9528 , 885px 1043px #ff9528 , 1109px 1435px #ff9528 , 212px 213px #ff9528 , 862px 1200px #ff9528 , 1543px 1426px #ff9528 , 1183px 484px #ff9528 , 1647px 68px #ff9528 , 1016px 763px #ff9528 , 538px 1480px #ff9528 , 894px 589px #ff9528 , 840px 419px #ff9528 , 139px 227px #ff9528 , 1178px 1823px #ff9528 , 243px 131px #ff9528 , 1416px 1177px #ff9528 , 354px 50px #ff9528 , 1224px 1259px #ff9528 , 330px 606px #ff9528 , 362px 226px #ff9528 , 45px 686px #ff9528 , 472px 757px #ff9528 , 118px 861px #ff9528 , 539px 822px #ff9528 , 762px 889px #ff9528 , 1836px 1942px #ff9528 , 1490px 1488px #ff9528 , 1741px 493px #ff9528 , 1457px 17px #ff9528 , 1546px 1619px #ff9528 , 915px 286px #ff9528 , 492px 857px #ff9528 , 1074px 441px #ff9528 , 1113px 289px #ff9528 , 539px 1032px #ff9528 , 710px 541px #ff9528 , 1763px 210px #ff9528 , 231px 1883px #ff9528 , 1209px 1713px #ff9528 , 1740px 1448px #ff9528 , 1302px 1820px #ff9528 , 44px 1377px #ff9528 , 1977px 1634px #ff9528 , 504px 1068px #ff9528 , 740px 1940px #ff9528 , 1552px 325px #ff9528 , 1161px 1979px #ff9528 , 892px 661px #ff9528 , 412px 1944px #ff9528 , 220px 651px #ff9528 , 504px 1223px #ff9528 , 902px 968px #ff9528 , 581px 1066px #ff9528 , 10px 827px #ff9528 , 539px 1558px #ff9528 , 103px 147px #ff9528 , 97px 181px #ff9528 , 1509px 950px #ff9528 , 630px 1054px #ff9528 , 191px 31px #ff9528 , 436px 819px #ff9528 , 210px 1219px #ff9528 , 1889px 43px #ff9528 , 621px 942px #ff9528 , 42px 126px #ff9528 , 1720px 8px #ff9528 , 337px 1477px #ff9528 , 602px 1226px #ff9528 , 1055px 1825px #ff9528 , 1013px 1285px #ff9528 , 1953px 119px #ff9528 , 130px 1222px #ff9528 , 703px 1972px #ff9528 , 1539px 1162px #ff9528 , 1846px 1336px #ff9528 , 191px 243px #ff9528 , 718px 1754px #ff9528 , 1430px 717px #ff9528 , 444px 862px #ff9528 , 1749px 1135px #ff9528 , 1829px 431px #ff9528 , 503px 1425px #ff9528 , 1266px 778px #ff9528 , 1674px 1192px #ff9528 , 827px 1257px #ff9528 , 1249px 546px #ff9528 , 1373px 1511px #ff9528 , 320px 287px #ff9528 , 1014px 1337px #ff9528 , 1268px 1634px #ff9528 , 1976px 1346px #ff9528 , 1861px 782px #ff9528 , 1225px 1020px #ff9528 , 1318px 1169px #ff9528 , 1692px 1128px #ff9528 , 800px 1099px #ff9528 , 1037px 695px #ff9528 , 1985px 1174px #ff9528 , 962px 317px #ff9528 , 1800px 765px #ff9528 , 970px 1770px #ff9528 , 1460px 1176px #ff9528 , 924px 823px #ff9528 , 608px 1505px #ff9528 , 1214px 721px #ff9528 , 641px 1603px #ff9528 , 400px 1912px #ff9528 , 343px 943px #ff9528 , 706px 1237px #ff9528 , 1210px 1554px #ff9528 , 1001px 1760px #ff9528 , 1650px 495px #ff9528 , 1345px 1796px #ff9528 , 1050px 1627px #ff9528 , 1082px 1609px #ff9528 , 1237px 1901px #ff9528 , 1247px 1759px #ff9528 , 328px 472px #ff9528 , 981px 615px #ff9528 , 1631px 993px #ff9528 , 1899px 1050px #ff9528 , 820px 1280px #ff9528 , 1172px 566px #ff9528 , 1718px 1039px #ff9528 , 1951px 787px #ff9528 , 521px 171px #ff9528 , 279px 348px #ff9528 , 757px 985px #ff9528 , 792px 652px #ff9528 , 273px 1892px #ff9528 , 912px 535px #ff9528 , 732px 1011px #ff9528 , 1552px 631px #ff9528 , 277px 1994px #ff9528 , 1270px 263px #ff9528 , 48px 811px #ff9528 , 1189px 226px #ff9528 , 1152px 1013px #ff9528 , 758px 1680px #ff9528 , 238px 111px #ff9528 , 894px 873px #ff9528 , 738px 1813px #ff9528 , 599px 974px #ff9528 , 181px 396px #ff9528 , 1661px 810px #ff9528 , 1092px 369px #ff9528 , 955px 1863px #ff9528 , 1834px 263px #ff9528 , 1162px 205px #ff9528 , 856px 1029px #ff9528 , 363px 558px #ff9528 , 119px 976px #ff9528 , 22px 1423px #ff9528 , 1328px 1453px #ff9528 , 642px 1595px #ff9528 , 1758px 1055px #ff9528 , 745px 173px #ff9528 , 98px 571px #ff9528 , 815px 788px #ff9528 , 490px 1547px #ff9528 , 900px 1200px #ff9528 , 1986px 532px #ff9528 , 1040px 892px #ff9528 , 1066px 1567px #ff9528 , 880px 445px #ff9528 , 917px 797px #ff9528 , 1874px 129px #ff9528 , 507px 928px #ff9528 , 999px 271px #ff9528 , 1191px 388px #ff9528 , 477px 1276px #ff9528 , 1623px 1694px #ff9528 , 1822px 1762px #ff9528 , 747px 35px #ff9528 , 1232px 857px #ff9528 , 1899px 498px #ff9528 , 405px 976px #ff9528 , 1678px 434px #ff9528 , 563px 278px #ff9528 , 1264px 188px #ff9528 , 1968px 746px #ff9528 , 788px 1627px #ff9528 , 1752px 1606px #ff9528 , 1053px 149px #ff9528 , 253px 607px #ff9528 , 985px 539px #ff9528 , 1936px 1015px #ff9528 , 1015px 1460px #ff9528 , 383px 1088px #ff9528 , 1043px 1071px #ff9528 , 1007px 1282px #ff9528 , 360px 945px #ff9528 , 1701px 1749px #ff9528 , 1993px 1903px #ff9528 , 1334px 812px #ff9528 , 1863px 181px #ff9528 , 145px 505px #ff9528 , 1543px 1037px #ff9528 , 897px 1204px #ff9528 , 1263px 1150px #ff9528 , 1798px 20px #ff9528 , 63px 1739px #ff9528 , 219px 402px #ff9528 , 981px 716px #ff9528 , 929px 260px #ff9528 , 511px 103px #ff9528 , 1057px 561px #ff9528 , 297px 1097px #ff9528 , 594px 629px #ff9528 , 358px 152px #ff9528 , 652px 1512px #ff9528 , 464px 901px #ff9528;
  animation: animStar 40s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .3vh;
  height: .3vh;
  background: transparent;
  box-shadow: 217px 97px #ff9528 , 1926px 1969px #ff9528 , 784px 1523px #ff9528 , 464px 201px #ff9528 , 1176px 1584px #ff9528 , 101px 1104px #ff9528 , 1769px 1167px #ff9528 , 670px 260px #ff9528 , 1907px 1178px #ff9528 , 1553px 1886px #ff9528 , 1035px 1470px #ff9528 , 176px 1603px #ff9528 , 499px 1828px #ff9528 , 677px 1654px #ff9528 , 1326px 75px #ff9528 , 264px 1108px #ff9528 , 439px 1718px #ff9528 , 46px 1908px #ff9528 , 1979px 1808px #ff9528 , 1768px 429px #ff9528 , 74px 167px #ff9528 , 1721px 1141px #ff9528 , 1069px 1965px #ff9528 , 113px 1232px #ff9528 , 383px 1559px #ff9528 , 1583px 1947px #ff9528 , 583px 1058px #ff9528 , 1864px 1434px #ff9528 , 877px 1093px #ff9528 , 428px 362px #ff9528 , 139px 206px #ff9528 , 826px 495px #ff9528 , 1874px 1551px #ff9528 , 1712px 1321px #ff9528 , 6px 1973px #ff9528 , 1197px 1696px #ff9528 , 1782px 1002px #ff9528 , 1745px 839px #ff9528 , 74px 1376px #ff9528 , 885px 1043px #ff9528 , 1109px 1435px #ff9528 , 212px 213px #ff9528 , 862px 1200px #ff9528 , 1543px 1426px #ff9528 , 1183px 484px #ff9528 , 1647px 68px #ff9528 , 1016px 763px #ff9528 , 538px 1480px #ff9528 , 894px 589px #ff9528 , 840px 419px #ff9528 , 139px 227px #ff9528 , 1178px 1823px #ff9528 , 243px 131px #ff9528 , 1416px 1177px #ff9528 , 354px 50px #ff9528 , 1224px 1259px #ff9528 , 330px 606px #ff9528 , 362px 226px #ff9528 , 45px 686px #ff9528 , 472px 757px #ff9528 , 118px 861px #ff9528 , 539px 822px #ff9528 , 762px 889px #ff9528 , 1836px 1942px #ff9528 , 1490px 1488px #ff9528 , 1741px 493px #ff9528 , 1457px 17px #ff9528 , 1546px 1619px #ff9528 , 915px 286px #ff9528 , 492px 857px #ff9528 , 1074px 441px #ff9528 , 1113px 289px #ff9528 , 539px 1032px #ff9528 , 710px 541px #ff9528 , 1763px 210px #ff9528 , 231px 1883px #ff9528 , 1209px 1713px #ff9528 , 1740px 1448px #ff9528 , 1302px 1820px #ff9528 , 44px 1377px #ff9528 , 1977px 1634px #ff9528 , 504px 1068px #ff9528 , 740px 1940px #ff9528 , 1552px 325px #ff9528 , 1161px 1979px #ff9528 , 892px 661px #ff9528 , 412px 1944px #ff9528 , 220px 651px #ff9528 , 504px 1223px #ff9528 , 902px 968px #ff9528 , 581px 1066px #ff9528 , 10px 827px #ff9528 , 539px 1558px #ff9528 , 103px 147px #ff9528 , 97px 181px #ff9528 , 1509px 950px #ff9528 , 630px 1054px #ff9528 , 191px 31px #ff9528 , 436px 819px #ff9528 , 210px 1219px #ff9528 , 1889px 43px #ff9528 , 621px 942px #ff9528 , 42px 126px #ff9528 , 1720px 8px #ff9528 , 337px 1477px #ff9528 , 602px 1226px #ff9528 , 1055px 1825px #ff9528 , 1013px 1285px #ff9528 , 1953px 119px #ff9528 , 130px 1222px #ff9528 , 703px 1972px #ff9528 , 1539px 1162px #ff9528 , 1846px 1336px #ff9528 , 191px 243px #ff9528 , 718px 1754px #ff9528 , 1430px 717px #ff9528 , 444px 862px #ff9528 , 1749px 1135px #ff9528 , 1829px 431px #ff9528 , 503px 1425px #ff9528 , 1266px 778px #ff9528 , 1674px 1192px #ff9528 , 827px 1257px #ff9528 , 1249px 546px #ff9528 , 1373px 1511px #ff9528 , 320px 287px #ff9528 , 1014px 1337px #ff9528 , 1268px 1634px #ff9528 , 1976px 1346px #ff9528 , 1861px 782px #ff9528 , 1225px 1020px #ff9528 , 1318px 1169px #ff9528 , 1692px 1128px #ff9528 , 800px 1099px #ff9528 , 1037px 695px #ff9528 , 1985px 1174px #ff9528 , 962px 317px #ff9528 , 1800px 765px #ff9528 , 970px 1770px #ff9528 , 1460px 1176px #ff9528 , 924px 823px #ff9528 , 608px 1505px #ff9528 , 1214px 721px #ff9528 , 641px 1603px #ff9528 , 400px 1912px #ff9528 , 343px 943px #ff9528 , 706px 1237px #ff9528 , 1210px 1554px #ff9528 , 1001px 1760px #ff9528 , 1650px 495px #ff9528 , 1345px 1796px #ff9528 , 1050px 1627px #ff9528 , 1082px 1609px #ff9528 , 1237px 1901px #ff9528 , 1247px 1759px #ff9528 , 328px 472px #ff9528 , 981px 615px #ff9528 , 1631px 993px #ff9528 , 1899px 1050px #ff9528 , 820px 1280px #ff9528 , 1172px 566px #ff9528 , 1718px 1039px #ff9528 , 1951px 787px #ff9528 , 521px 171px #ff9528 , 279px 348px #ff9528 , 757px 985px #ff9528 , 792px 652px #ff9528 , 273px 1892px #ff9528 , 912px 535px #ff9528 , 732px 1011px #ff9528 , 1552px 631px #ff9528 , 277px 1994px #ff9528 , 1270px 263px #ff9528 , 48px 811px #ff9528 , 1189px 226px #ff9528 , 1152px 1013px #ff9528 , 758px 1680px #ff9528 , 238px 111px #ff9528 , 894px 873px #ff9528 , 738px 1813px #ff9528 , 599px 974px #ff9528 , 181px 396px #ff9528 , 1661px 810px #ff9528 , 1092px 369px #ff9528 , 955px 1863px #ff9528 , 1834px 263px #ff9528 , 1162px 205px #ff9528 , 856px 1029px #ff9528 , 363px 558px #ff9528 , 119px 976px #ff9528 , 22px 1423px #ff9528 , 1328px 1453px #ff9528 , 642px 1595px #ff9528 , 1758px 1055px #ff9528 , 745px 173px #ff9528 , 98px 571px #ff9528 , 815px 788px #ff9528 , 490px 1547px #ff9528 , 900px 1200px #ff9528 , 1986px 532px #ff9528 , 1040px 892px #ff9528 , 1066px 1567px #ff9528 , 880px 445px #ff9528 , 917px 797px #ff9528 , 1874px 129px #ff9528 , 507px 928px #ff9528 , 999px 271px #ff9528 , 1191px 388px #ff9528 , 477px 1276px #ff9528 , 1623px 1694px #ff9528 , 1822px 1762px #ff9528 , 747px 35px #ff9528 , 1232px 857px #ff9528 , 1899px 498px #ff9528 , 405px 976px #ff9528 , 1678px 434px #ff9528 , 563px 278px #ff9528 , 1264px 188px #ff9528 , 1968px 746px #ff9528 , 788px 1627px #ff9528 , 1752px 1606px #ff9528 , 1053px 149px #ff9528 , 253px 607px #ff9528 , 985px 539px #ff9528 , 1936px 1015px #ff9528 , 1015px 1460px #ff9528 , 383px 1088px #ff9528 , 1043px 1071px #ff9528 , 1007px 1282px #ff9528 , 360px 945px #ff9528 , 1701px 1749px #ff9528 , 1993px 1903px #ff9528 , 1334px 812px #ff9528 , 1863px 181px #ff9528 , 145px 505px #ff9528 , 1543px 1037px #ff9528 , 897px 1204px #ff9528 , 1263px 1150px #ff9528 , 1798px 20px #ff9528 , 63px 1739px #ff9528 , 219px 402px #ff9528 , 981px 716px #ff9528 , 929px 260px #ff9528 , 511px 103px #ff9528 , 1057px 561px #ff9528 , 297px 1097px #ff9528 , 594px 629px #ff9528 , 358px 152px #ff9528 , 652px 1512px #ff9528 , 464px 901px #ff9528;
}

#stars2 {
  width: .4vh;
  height: .4vh;
  border-radius: 9999999px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 1804px 565px #ff9528 , 857px 384px #ff9528 , 1520px 717px #ff9528 , 63px 1953px #ff9528 , 1784px 1006px #ff9528 , 127px 518px #ff9528 , 924px 1339px #ff9528 , 681px 422px #ff9528 , 754px 1182px #ff9528 , 398px 1197px #ff9528 , 543px 169px #ff9528 , 1238px 1097px #ff9528 , 1918px 1299px #ff9528 , 1511px 1280px #ff9528 , 233px 1248px #ff9528 , 1311px 1688px #ff9528 , 222px 1204px #ff9528 , 1302px 1439px #ff9528 , 589px 594px #ff9528 , 200px 59px #ff9528 , 1781px 515px #ff9528 , 655px 35px #ff9528 , 236px 416px #ff9528 , 1435px 1209px #ff9528 , 1887px 1075px #ff9528 , 1795px 69px #ff9528 , 1113px 1695px #ff9528 , 1456px 1172px #ff9528 , 572px 1914px #ff9528 , 1408px 766px #ff9528 , 1302px 1152px #ff9528 , 1546px 1628px #ff9528 , 1901px 1561px #ff9528 , 1499px 1956px #ff9528 , 1353px 224px #ff9528 , 1673px 1590px #ff9528 , 1594px 1860px #ff9528 , 95px 1978px #ff9528 , 135px 1520px #ff9528 , 855px 772px #ff9528 , 673px 1253px #ff9528 , 329px 267px #ff9528 , 1427px 156px #ff9528 , 102px 1766px #ff9528 , 1px 141px #ff9528 , 896px 1633px #ff9528 , 1883px 1772px #ff9528 , 982px 1257px #ff9528 , 597px 1224px #ff9528 , 544px 236px #ff9528 , 428px 1669px #ff9528 , 342px 572px #ff9528 , 769px 548px #ff9528 , 908px 227px #ff9528 , 962px 1939px #ff9528 , 1793px 1008px #ff9528 , 1318px 201px #ff9528 , 986px 1349px #ff9528 , 789px 1874px #ff9528 , 1823px 930px #ff9528 , 234px 1967px #ff9528 , 421px 469px #ff9528 , 1908px 1429px #ff9528 , 324px 215px #ff9528 , 405px 323px #ff9528 , 1964px 1302px #ff9528 , 68px 951px #ff9528 , 179px 1440px #ff9528 , 590px 941px #ff9528 , 1376px 1758px #ff9528 , 246px 681px #ff9528 , 1865px 44px #ff9528 , 959px 1966px #ff9528 , 1357px 76px #ff9528 , 47px 1627px #ff9528 , 1529px 104px #ff9528 , 1001px 714px #ff9528 , 219px 242px #ff9528 , 763px 559px #ff9528 , 519px 440px #ff9528 , 457px 9px #ff9528 , 748px 98px #ff9528 , 1177px 1777px #ff9528 , 1324px 1009px #ff9528 , 283px 933px #ff9528 , 291px 330px #ff9528 , 469px 1651px #ff9528 , 837px 1355px #ff9528 , 431px 906px #ff9528 , 182px 692px #ff9528 , 688px 1316px #ff9528 , 1126px 1961px #ff9528 , 321px 1731px #ff9528 , 702px 1407px #ff9528 , 566px 1998px #ff9528 , 1765px 1202px #ff9528 , 1563px 1701px #ff9528 , 715px 938px #ff9528 , 776px 426px #ff9528 , 1154px 100px #ff9528 , 358px 309px #ff9528 , 1003px 1133px #ff9528 , 1116px 250px #ff9528 , 1798px 613px #ff9528 , 1098px 992px #ff9528 , 36px 1395px #ff9528 , 1637px 1220px #ff9528 , 1948px 1733px #ff9528 , 111px 1728px #ff9528 , 1518px 539px #ff9528 , 232px 108px #ff9528 , 1920px 658px #ff9528 , 518px 477px #ff9528 , 1469px 712px #ff9528 , 19px 1926px #ff9528 , 1503px 1088px #ff9528 , 1414px 1215px #ff9528 , 1790px 444px #ff9528 , 1533px 666px #ff9528 , 332px 1418px #ff9528 , 1950px 546px #ff9528 , 1056px 1705px #ff9528 , 140px 522px #ff9528 , 502px 1586px #ff9528 , 6px 1111px #ff9528 , 314px 1407px #ff9528 , 185px 919px #ff9528 , 1689px 1044px #ff9528 , 1886px 138px #ff9528 , 1409px 1296px #ff9528 , 860px 1408px #ff9528 , 125px 1165px #ff9528 , 869px 513px #ff9528 , 351px 9px #ff9528 , 1601px 1626px #ff9528 , 1386px 1723px #ff9528 , 761px 923px #ff9528 , 569px 106px #ff9528 , 250px 1692px #ff9528 , 1283px 1703px #ff9528 , 5px 98px #ff9528 , 461px 900px #ff9528 , 736px 1890px #ff9528 , 1513px 801px #ff9528 , 740px 1828px #ff9528 , 1897px 1922px #ff9528 , 510px 1327px #ff9528 , 486px 1209px #ff9528 , 1232px 1169px #ff9528 , 222px 1457px #ff9528 , 956px 1948px #ff9528 , 803px 1178px #ff9528 , 1784px 1274px #ff9528 , 1025px 1441px #ff9528 , 1169px 1796px #ff9528 , 1782px 10px #ff9528 , 1406px 269px #ff9528 , 1040px 1539px #ff9528 , 1408px 1254px #ff9528 , 1283px 1730px #ff9528 , 1146px 1010px #ff9528 , 472px 317px #ff9528 , 904px 459px #ff9528 , 984px 444px #ff9528 , 1930px 779px #ff9528 , 412px 776px #ff9528 , 1082px 1061px #ff9528 , 817px 1998px #ff9528 , 116px 1007px #ff9528 , 1264px 622px #ff9528 , 647px 287px #ff9528 , 1795px 999px #ff9528 , 766px 619px #ff9528 , 148px 1397px #ff9528 , 1251px 917px #ff9528 , 1204px 1533px #ff9528 , 1777px 1543px #ff9528 , 1012px 1603px #ff9528 , 1850px 629px #ff9528 , 541px 213px #ff9528 , 1718px 311px #ff9528 , 278px 1449px #ff9528 , 1327px 118px #ff9528 , 910px 1010px #ff9528 , 897px 631px #ff9528 , 8px 1806px #ff9528 , 649px 1390px #ff9528 , 798px 995px #ff9528 , 1786px 1907px #ff9528 , 1539px 327px #ff9528 , 98px 297px #ff9528 , 992px 1730px #ff9528 , 1071px 1145px #ff9528 , 413px 145px #ff9528 , 891px 409px #ff9528 , 1781px 1391px #ff9528 , 998px 1814px #ff9528 , 41px 802px #ff9528 , 1653px 509px #ff9528 , 648px 482px #ff9528 , 586px 662px #ff9528 , 1738px 1764px #ff9528 , 905px 1131px #ff9528 , 859px 1286px #ff9528 , 83px 1845px #ff9528 , 349px 900px #ff9528 , 863px 221px #ff9528 , 1208px 517px #ff9528 , 71px 1658px #ff9528 , 773px 514px #ff9528 , 630px 1608px #ff9528 , 210px 988px #ff9528 , 530px 617px #ff9528 , 254px 1803px #ff9528 , 891px 1070px #ff9528 , 1055px 527px #ff9528 , 710px 1534px #ff9528 , 1471px 1162px #ff9528 , 746px 86px #ff9528 , 1660px 703px #ff9528 , 1103px 638px #ff9528 , 484px 1296px #ff9528 , 1577px 400px #ff9528 , 1030px 601px #ff9528 , 1622px 592px #ff9528 , 695px 809px #ff9528 , 1462px 88px #ff9528 , 290px 1605px #ff9528 , 859px 1329px #ff9528 , 554px 1374px #ff9528 , 1769px 193px #ff9528 , 560px 1864px #ff9528 , 1424px 473px #ff9528 , 588px 984px #ff9528 , 366px 1177px #ff9528 , 493px 1916px #ff9528 , 1294px 595px #ff9528 , 582px 369px #ff9528 , 517px 797px #ff9528 , 1551px 843px #ff9528 , 1632px 1934px #ff9528 , 1649px 1564px #ff9528 , 837px 572px #ff9528 , 1488px 315px #ff9528 , 1542px 1578px #ff9528 , 729px 150px #ff9528 , 1815px 814px #ff9528 , 763px 342px #ff9528 , 230px 483px #ff9528 , 1637px 1387px #ff9528;
  animation: animStar 50s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .4vh;
  height: .4vh;
  background: transparent;
  box-shadow: 1804px 565px #ff9528 , 857px 384px #ff9528 , 1520px 717px #ff9528 , 63px 1953px #ff9528 , 1784px 1006px #ff9528 , 127px 518px #ff9528 , 924px 1339px #ff9528 , 681px 422px #ff9528 , 754px 1182px #ff9528 , 398px 1197px #ff9528 , 543px 169px #ff9528 , 1238px 1097px #ff9528 , 1918px 1299px #ff9528 , 1511px 1280px #ff9528 , 233px 1248px #ff9528 , 1311px 1688px #ff9528 , 222px 1204px #ff9528 , 1302px 1439px #ff9528 , 589px 594px #ff9528 , 200px 59px #ff9528 , 1781px 515px #ff9528 , 655px 35px #ff9528 , 236px 416px #ff9528 , 1435px 1209px #ff9528 , 1887px 1075px #ff9528 , 1795px 69px #ff9528 , 1113px 1695px #ff9528 , 1456px 1172px #ff9528 , 572px 1914px #ff9528 , 1408px 766px #ff9528 , 1302px 1152px #ff9528 , 1546px 1628px #ff9528 , 1901px 1561px #ff9528 , 1499px 1956px #ff9528 , 1353px 224px #ff9528 , 1673px 1590px #ff9528 , 1594px 1860px #ff9528 , 95px 1978px #ff9528 , 135px 1520px #ff9528 , 855px 772px #ff9528 , 673px 1253px #ff9528 , 329px 267px #ff9528 , 1427px 156px #ff9528 , 102px 1766px #ff9528 , 1px 141px #ff9528 , 896px 1633px #ff9528 , 1883px 1772px #ff9528 , 982px 1257px #ff9528 , 597px 1224px #ff9528 , 544px 236px #ff9528 , 428px 1669px #ff9528 , 342px 572px #ff9528 , 769px 548px #ff9528 , 908px 227px #ff9528 , 962px 1939px #ff9528 , 1793px 1008px #ff9528 , 1318px 201px #ff9528 , 986px 1349px #ff9528 , 789px 1874px #ff9528 , 1823px 930px #ff9528 , 234px 1967px #ff9528 , 421px 469px #ff9528 , 1908px 1429px #ff9528 , 324px 215px #ff9528 , 405px 323px #ff9528 , 1964px 1302px #ff9528 , 68px 951px #ff9528 , 179px 1440px #ff9528 , 590px 941px #ff9528 , 1376px 1758px #ff9528 , 246px 681px #ff9528 , 1865px 44px #ff9528 , 959px 1966px #ff9528 , 1357px 76px #ff9528 , 47px 1627px #ff9528 , 1529px 104px #ff9528 , 1001px 714px #ff9528 , 219px 242px #ff9528 , 763px 559px #ff9528 , 519px 440px #ff9528 , 457px 9px #ff9528 , 748px 98px #ff9528 , 1177px 1777px #ff9528 , 1324px 1009px #ff9528 , 283px 933px #ff9528 , 291px 330px #ff9528 , 469px 1651px #ff9528 , 837px 1355px #ff9528 , 431px 906px #ff9528 , 182px 692px #ff9528 , 688px 1316px #ff9528 , 1126px 1961px #ff9528 , 321px 1731px #ff9528 , 702px 1407px #ff9528 , 566px 1998px #ff9528 , 1765px 1202px #ff9528 , 1563px 1701px #ff9528 , 715px 938px #ff9528 , 776px 426px #ff9528 , 1154px 100px #ff9528 , 358px 309px #ff9528 , 1003px 1133px #ff9528 , 1116px 250px #ff9528 , 1798px 613px #ff9528 , 1098px 992px #ff9528 , 36px 1395px #ff9528 , 1637px 1220px #ff9528 , 1948px 1733px #ff9528 , 111px 1728px #ff9528 , 1518px 539px #ff9528 , 232px 108px #ff9528 , 1920px 658px #ff9528 , 518px 477px #ff9528 , 1469px 712px #ff9528 , 19px 1926px #ff9528 , 1503px 1088px #ff9528 , 1414px 1215px #ff9528 , 1790px 444px #ff9528 , 1533px 666px #ff9528 , 332px 1418px #ff9528 , 1950px 546px #ff9528 , 1056px 1705px #ff9528 , 140px 522px #ff9528 , 502px 1586px #ff9528 , 6px 1111px #ff9528 , 314px 1407px #ff9528 , 185px 919px #ff9528 , 1689px 1044px #ff9528 , 1886px 138px #ff9528 , 1409px 1296px #ff9528 , 860px 1408px #ff9528 , 125px 1165px #ff9528 , 869px 513px #ff9528 , 351px 9px #ff9528 , 1601px 1626px #ff9528 , 1386px 1723px #ff9528 , 761px 923px #ff9528 , 569px 106px #ff9528 , 250px 1692px #ff9528 , 1283px 1703px #ff9528 , 5px 98px #ff9528 , 461px 900px #ff9528 , 736px 1890px #ff9528 , 1513px 801px #ff9528 , 740px 1828px #ff9528 , 1897px 1922px #ff9528 , 510px 1327px #ff9528 , 486px 1209px #ff9528 , 1232px 1169px #ff9528 , 222px 1457px #ff9528 , 956px 1948px #ff9528 , 803px 1178px #ff9528 , 1784px 1274px #ff9528 , 1025px 1441px #ff9528 , 1169px 1796px #ff9528 , 1782px 10px #ff9528 , 1406px 269px #ff9528 , 1040px 1539px #ff9528 , 1408px 1254px #ff9528 , 1283px 1730px #ff9528 , 1146px 1010px #ff9528 , 472px 317px #ff9528 , 904px 459px #ff9528 , 984px 444px #ff9528 , 1930px 779px #ff9528 , 412px 776px #ff9528 , 1082px 1061px #ff9528 , 817px 1998px #ff9528 , 116px 1007px #ff9528 , 1264px 622px #ff9528 , 647px 287px #ff9528 , 1795px 999px #ff9528 , 766px 619px #ff9528 , 148px 1397px #ff9528 , 1251px 917px #ff9528 , 1204px 1533px #ff9528 , 1777px 1543px #ff9528 , 1012px 1603px #ff9528 , 1850px 629px #ff9528 , 541px 213px #ff9528 , 1718px 311px #ff9528 , 278px 1449px #ff9528 , 1327px 118px #ff9528 , 910px 1010px #ff9528 , 897px 631px #ff9528 , 8px 1806px #ff9528 , 649px 1390px #ff9528 , 798px 995px #ff9528 , 1786px 1907px #ff9528 , 1539px 327px #ff9528 , 98px 297px #ff9528 , 992px 1730px #ff9528 , 1071px 1145px #ff9528 , 413px 145px #ff9528 , 891px 409px #ff9528 , 1781px 1391px #ff9528 , 998px 1814px #ff9528 , 41px 802px #ff9528 , 1653px 509px #ff9528 , 648px 482px #ff9528 , 586px 662px #ff9528 , 1738px 1764px #ff9528 , 905px 1131px #ff9528 , 859px 1286px #ff9528 , 83px 1845px #ff9528 , 349px 900px #ff9528 , 863px 221px #ff9528 , 1208px 517px #ff9528 , 71px 1658px #ff9528 , 773px 514px #ff9528 , 630px 1608px #ff9528 , 210px 988px #ff9528 , 530px 617px #ff9528 , 254px 1803px #ff9528 , 891px 1070px #ff9528 , 1055px 527px #ff9528 , 710px 1534px #ff9528 , 1471px 1162px #ff9528 , 746px 86px #ff9528 , 1660px 703px #ff9528 , 1103px 638px #ff9528 , 484px 1296px #ff9528 , 1577px 400px #ff9528 , 1030px 601px #ff9528 , 1622px 592px #ff9528 , 695px 809px #ff9528 , 1462px 88px #ff9528 , 290px 1605px #ff9528 , 859px 1329px #ff9528 , 554px 1374px #ff9528 , 1769px 193px #ff9528 , 560px 1864px #ff9528 , 1424px 473px #ff9528 , 588px 984px #ff9528 , 366px 1177px #ff9528 , 493px 1916px #ff9528 , 1294px 595px #ff9528 , 582px 369px #ff9528 , 517px 797px #ff9528 , 1551px 843px #ff9528 , 1632px 1934px #ff9528 , 1649px 1564px #ff9528 , 837px 572px #ff9528 , 1488px 315px #ff9528 , 1542px 1578px #ff9528 , 729px 150px #ff9528 , 1815px 814px #ff9528 , 763px 342px #ff9528 , 230px 483px #ff9528 , 1637px 1387px #ff9528;
}

#stars3 {
  width: .5vh;
  height: .5vh;
  border-radius: 9999999px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 1936px 1371px #ff9528 , 1123px 211px #ff9528 , 946px 968px #ff9528 , 972px 429px #ff9528 , 1353px 730px #ff9528 , 255px 1092px #ff9528 , 338px 1289px #ff9528 , 1770px 1464px #ff9528 , 968px 175px #ff9528 , 375px 1923px #ff9528 , 1431px 985px #ff9528 , 973px 1855px #ff9528 , 1079px 394px #ff9528 , 486px 1122px #ff9528 , 1624px 247px #ff9528 , 1770px 931px #ff9528 , 748px 1955px #ff9528 , 753px 221px #ff9528 , 1400px 197px #ff9528 , 1153px 500px #ff9528 , 1118px 65px #ff9528 , 1230px 1614px #ff9528 , 171px 869px #ff9528 , 680px 542px #ff9528 , 1378px 1053px #ff9528 , 1763px 1635px #ff9528 , 1692px 1703px #ff9528 , 992px 573px #ff9528 , 288px 70px #ff9528 , 1959px 378px #ff9528 , 198px 1606px #ff9528 , 795px 1416px #ff9528 , 1925px 67px #ff9528 , 1737px 1558px #ff9528 , 558px 1983px #ff9528 , 63px 996px #ff9528 , 1332px 1775px #ff9528 , 1222px 1682px #ff9528 , 114px 1777px #ff9528 , 1634px 1526px #ff9528 , 1889px 1421px #ff9528 , 1448px 1317px #ff9528 , 883px 1768px #ff9528 , 67px 142px #ff9528 , 38px 401px #ff9528 , 28px 1366px #ff9528 , 273px 169px #ff9528 , 1157px 606px #ff9528 , 142px 1124px #ff9528 , 1941px 903px #ff9528 , 1863px 310px #ff9528 , 52px 1207px #ff9528 , 1971px 1527px #ff9528 , 1354px 1005px #ff9528 , 1808px 760px #ff9528 , 866px 1306px #ff9528 , 1946px 594px #ff9528 , 64px 985px #ff9528 , 124px 151px #ff9528 , 1898px 1434px #ff9528 , 1169px 306px #ff9528 , 1640px 107px #ff9528 , 1596px 1114px #ff9528 , 76px 700px #ff9528 , 457px 1456px #ff9528 , 1362px 1013px #ff9528 , 1057px 256px #ff9528 , 956px 1047px #ff9528 , 778px 1491px #ff9528 , 752px 1018px #ff9528 , 1821px 1079px #ff9528 , 270px 1839px #ff9528 , 937px 1703px #ff9528 , 807px 1298px #ff9528 , 610px 1114px #ff9528 , 693px 1523px #ff9528 , 1515px 1040px #ff9528 , 830px 313px #ff9528 , 806px 579px #ff9528 , 1529px 26px #ff9528 , 992px 1578px #ff9528 , 279px 1918px #ff9528 , 122px 1783px #ff9528 , 1910px 88px #ff9528 , 1226px 1033px #ff9528 , 1087px 1989px #ff9528 , 17px 688px #ff9528 , 1065px 131px #ff9528 , 1909px 727px #ff9528 , 430px 1203px #ff9528 , 1473px 603px #ff9528 , 78px 1229px #ff9528 , 23px 1053px #ff9528 , 141px 1584px #ff9528 , 1593px 1035px #ff9528 , 1595px 1714px #ff9528 , 1981px 1309px #ff9528 , 1125px 472px #ff9528 , 471px 1554px #ff9528 , 264px 1820px #ff9528 , 311px 1411px #ff9528 , 1944px 318px #ff9528 , 1842px 763px #ff9528 , 863px 613px #ff9528 , 655px 1714px #ff9528 , 1382px 8px #ff9528 , 570px 91px #ff9528 , 1629px 745px #ff9528 , 1132px 1575px #ff9528 , 573px 1834px #ff9528 , 906px 1156px #ff9528 , 1480px 92px #ff9528 , 593px 916px #ff9528 , 830px 1192px #ff9528 , 1717px 1510px #ff9528 , 26px 579px #ff9528 , 1691px 639px #ff9528 , 143px 1127px #ff9528 , 1864px 249px #ff9528 , 776px 218px #ff9528 , 48px 345px #ff9528 , 586px 1668px #ff9528 , 22px 670px #ff9528 , 270px 857px #ff9528 , 1527px 382px #ff9528 , 1181px 909px #ff9528 , 1945px 1120px #ff9528 , 660px 292px #ff9528 , 187px 896px #ff9528 , 314px 234px #ff9528 , 1267px 565px #ff9528 , 1491px 1328px #ff9528 , 753px 1379px #ff9528 , 1577px 1865px #ff9528 , 1348px 654px #ff9528 , 476px 1030px #ff9528 , 1935px 436px #ff9528 , 556px 1418px #ff9528 , 559px 672px #ff9528 , 1940px 300px #ff9528 , 1937px 801px #ff9528 , 249px 1950px #ff9528 , 542px 310px #ff9528 , 745px 1634px #ff9528 , 1741px 1329px #ff9528 , 986px 834px #ff9528 , 1861px 1143px #ff9528 , 812px 416px #ff9528 , 1144px 1407px #ff9528 , 1758px 1386px #ff9528 , 139px 344px #ff9528 , 1637px 801px #ff9528 , 973px 500px #ff9528 , 570px 886px #ff9528 , 1968px 758px #ff9528 , 1455px 544px #ff9528 , 1561px 1773px #ff9528 , 1867px 886px #ff9528 , 1149px 692px #ff9528 , 304px 723px #ff9528 , 146px 625px #ff9528 , 1391px 1904px #ff9528 , 967px 674px #ff9528 , 1969px 1722px #ff9528 , 1175px 831px #ff9528 , 812px 787px #ff9528 , 1232px 765px #ff9528 , 1681px 1556px #ff9528 , 93px 1601px #ff9528 , 1233px 942px #ff9528 , 481px 679px #ff9528 , 1592px 1301px #ff9528 , 1438px 1640px #ff9528 , 849px 572px #ff9528 , 1761px 706px #ff9528 , 170px 1335px #ff9528 , 396px 1963px #ff9528 , 1673px 821px #ff9528 , 189px 152px #ff9528 , 1785px 1895px #ff9528 , 1173px 1805px #ff9528 , 1842px 1853px #ff9528 , 1450px 1027px #ff9528 , 1839px 1316px #ff9528 , 1523px 1440px #ff9528 , 618px 1894px #ff9528 , 1135px 1673px #ff9528 , 1111px 1777px #ff9528 , 1893px 1683px #ff9528 , 1616px 1836px #ff9528 , 265px 1437px #ff9528 , 857px 748px #ff9528 , 400px 1870px #ff9528 , 370px 1034px #ff9528 , 108px 1790px #ff9528 , 1358px 429px #ff9528 , 1649px 1310px #ff9528 , 985px 1060px #ff9528 , 409px 1714px #ff9528 , 1716px 1611px #ff9528 , 1188px 264px #ff9528 , 583px 1700px #ff9528 , 1663px 1878px #ff9528 , 1139px 453px #ff9528 , 462px 939px #ff9528 , 741px 681px #ff9528 , 1253px 547px #ff9528 , 952px 1863px #ff9528 , 50px 1921px #ff9528 , 1781px 1098px #ff9528 , 1436px 1431px #ff9528 , 980px 1382px #ff9528 , 1001px 922px #ff9528 , 839px 1193px #ff9528 , 447px 1331px #ff9528 , 1811px 1539px #ff9528 , 1832px 1291px #ff9528 , 1721px 1281px #ff9528 , 1053px 592px #ff9528 , 1217px 395px #ff9528 , 736px 1257px #ff9528 , 1322px 512px #ff9528 , 800px 414px #ff9528 , 369px 1628px #ff9528 , 1183px 1902px #ff9528 , 1524px 1370px #ff9528 , 696px 383px #ff9528 , 1222px 1830px #ff9528 , 900px 830px #ff9528 , 1380px 438px #ff9528 , 1145px 830px #ff9528 , 725px 1949px #ff9528 , 673px 791px #ff9528 , 234px 391px #ff9528 , 1361px 1783px #ff9528 , 203px 229px #ff9528 , 1427px 229px #ff9528 , 515px 1092px #ff9528 , 218px 1366px #ff9528 , 1004px 1173px #ff9528 , 411px 1692px #ff9528 , 826px 1401px #ff9528 , 945px 571px #ff9528 , 1px 252px #ff9528 , 1842px 338px #ff9528 , 1142px 38px #ff9528 , 994px 71px #ff9528 , 1150px 767px #ff9528 , 1602px 1501px #ff9528 , 1494px 591px #ff9528;
  animation: animStar 100s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .5vh;
  height: .5vh;
  background: transparent;
  box-shadow: 1936px 1371px #ff9528 , 1123px 211px #ff9528 , 946px 968px #ff9528 , 972px 429px #ff9528 , 1353px 730px #ff9528 , 255px 1092px #ff9528 , 338px 1289px #ff9528 , 1770px 1464px #ff9528 , 968px 175px #ff9528 , 375px 1923px #ff9528 , 1431px 985px #ff9528 , 973px 1855px #ff9528 , 1079px 394px #ff9528 , 486px 1122px #ff9528 , 1624px 247px #ff9528 , 1770px 931px #ff9528 , 748px 1955px #ff9528 , 753px 221px #ff9528 , 1400px 197px #ff9528 , 1153px 500px #ff9528 , 1118px 65px #ff9528 , 1230px 1614px #ff9528 , 171px 869px #ff9528 , 680px 542px #ff9528 , 1378px 1053px #ff9528 , 1763px 1635px #ff9528 , 1692px 1703px #ff9528 , 992px 573px #ff9528 , 288px 70px #ff9528 , 1959px 378px #ff9528 , 198px 1606px #ff9528 , 795px 1416px #ff9528 , 1925px 67px #ff9528 , 1737px 1558px #ff9528 , 558px 1983px #ff9528 , 63px 996px #ff9528 , 1332px 1775px #ff9528 , 1222px 1682px #ff9528 , 114px 1777px #ff9528 , 1634px 1526px #ff9528 , 1889px 1421px #ff9528 , 1448px 1317px #ff9528 , 883px 1768px #ff9528 , 67px 142px #ff9528 , 38px 401px #ff9528 , 28px 1366px #ff9528 , 273px 169px #ff9528 , 1157px 606px #ff9528 , 142px 1124px #ff9528 , 1941px 903px #ff9528 , 1863px 310px #ff9528 , 52px 1207px #ff9528 , 1971px 1527px #ff9528 , 1354px 1005px #ff9528 , 1808px 760px #ff9528 , 866px 1306px #ff9528 , 1946px 594px #ff9528 , 64px 985px #ff9528 , 124px 151px #ff9528 , 1898px 1434px #ff9528 , 1169px 306px #ff9528 , 1640px 107px #ff9528 , 1596px 1114px #ff9528 , 76px 700px #ff9528 , 457px 1456px #ff9528 , 1362px 1013px #ff9528 , 1057px 256px #ff9528 , 956px 1047px #ff9528 , 778px 1491px #ff9528 , 752px 1018px #ff9528 , 1821px 1079px #ff9528 , 270px 1839px #ff9528 , 937px 1703px #ff9528 , 807px 1298px #ff9528 , 610px 1114px #ff9528 , 693px 1523px #ff9528 , 1515px 1040px #ff9528 , 830px 313px #ff9528 , 806px 579px #ff9528 , 1529px 26px #ff9528 , 992px 1578px #ff9528 , 279px 1918px #ff9528 , 122px 1783px #ff9528 , 1910px 88px #ff9528 , 1226px 1033px #ff9528 , 1087px 1989px #ff9528 , 17px 688px #ff9528 , 1065px 131px #ff9528 , 1909px 727px #ff9528 , 430px 1203px #ff9528 , 1473px 603px #ff9528 , 78px 1229px #ff9528 , 23px 1053px #ff9528 , 141px 1584px #ff9528 , 1593px 1035px #ff9528 , 1595px 1714px #ff9528 , 1981px 1309px #ff9528 , 1125px 472px #ff9528 , 471px 1554px #ff9528 , 264px 1820px #ff9528 , 311px 1411px #ff9528 , 1944px 318px #ff9528 , 1842px 763px #ff9528 , 863px 613px #ff9528 , 655px 1714px #ff9528 , 1382px 8px #ff9528 , 570px 91px #ff9528 , 1629px 745px #ff9528 , 1132px 1575px #ff9528 , 573px 1834px #ff9528 , 906px 1156px #ff9528 , 1480px 92px #ff9528 , 593px 916px #ff9528 , 830px 1192px #ff9528 , 1717px 1510px #ff9528 , 26px 579px #ff9528 , 1691px 639px #ff9528 , 143px 1127px #ff9528 , 1864px 249px #ff9528 , 776px 218px #ff9528 , 48px 345px #ff9528 , 586px 1668px #ff9528 , 22px 670px #ff9528 , 270px 857px #ff9528 , 1527px 382px #ff9528 , 1181px 909px #ff9528 , 1945px 1120px #ff9528 , 660px 292px #ff9528 , 187px 896px #ff9528 , 314px 234px #ff9528 , 1267px 565px #ff9528 , 1491px 1328px #ff9528 , 753px 1379px #ff9528 , 1577px 1865px #ff9528 , 1348px 654px #ff9528 , 476px 1030px #ff9528 , 1935px 436px #ff9528 , 556px 1418px #ff9528 , 559px 672px #ff9528 , 1940px 300px #ff9528 , 1937px 801px #ff9528 , 249px 1950px #ff9528 , 542px 310px #ff9528 , 745px 1634px #ff9528 , 1741px 1329px #ff9528 , 986px 834px #ff9528 , 1861px 1143px #ff9528 , 812px 416px #ff9528 , 1144px 1407px #ff9528 , 1758px 1386px #ff9528 , 139px 344px #ff9528 , 1637px 801px #ff9528 , 973px 500px #ff9528 , 570px 886px #ff9528 , 1968px 758px #ff9528 , 1455px 544px #ff9528 , 1561px 1773px #ff9528 , 1867px 886px #ff9528 , 1149px 692px #ff9528 , 304px 723px #ff9528 , 146px 625px #ff9528 , 1391px 1904px #ff9528 , 967px 674px #ff9528 , 1969px 1722px #ff9528 , 1175px 831px #ff9528 , 812px 787px #ff9528 , 1232px 765px #ff9528 , 1681px 1556px #ff9528 , 93px 1601px #ff9528 , 1233px 942px #ff9528 , 481px 679px #ff9528 , 1592px 1301px #ff9528 , 1438px 1640px #ff9528 , 849px 572px #ff9528 , 1761px 706px #ff9528 , 170px 1335px #ff9528 , 396px 1963px #ff9528 , 1673px 821px #ff9528 , 189px 152px #ff9528 , 1785px 1895px #ff9528 , 1173px 1805px #ff9528 , 1842px 1853px #ff9528 , 1450px 1027px #ff9528 , 1839px 1316px #ff9528 , 1523px 1440px #ff9528 , 618px 1894px #ff9528 , 1135px 1673px #ff9528 , 1111px 1777px #ff9528 , 1893px 1683px #ff9528 , 1616px 1836px #ff9528 , 265px 1437px #ff9528 , 857px 748px #ff9528 , 400px 1870px #ff9528 , 370px 1034px #ff9528 , 108px 1790px #ff9528 , 1358px 429px #ff9528 , 1649px 1310px #ff9528 , 985px 1060px #ff9528 , 409px 1714px #ff9528 , 1716px 1611px #ff9528 , 1188px 264px #ff9528 , 583px 1700px #ff9528 , 1663px 1878px #ff9528 , 1139px 453px #ff9528 , 462px 939px #ff9528 , 741px 681px #ff9528 , 1253px 547px #ff9528 , 952px 1863px #ff9528 , 50px 1921px #ff9528 , 1781px 1098px #ff9528 , 1436px 1431px #ff9528 , 980px 1382px #ff9528 , 1001px 922px #ff9528 , 839px 1193px #ff9528 , 447px 1331px #ff9528 , 1811px 1539px #ff9528 , 1832px 1291px #ff9528 , 1721px 1281px #ff9528 , 1053px 592px #ff9528 , 1217px 395px #ff9528 , 736px 1257px #ff9528 , 1322px 512px #ff9528 , 800px 414px #ff9528 , 369px 1628px #ff9528 , 1183px 1902px #ff9528 , 1524px 1370px #ff9528 , 696px 383px #ff9528 , 1222px 1830px #ff9528 , 900px 830px #ff9528 , 1380px 438px #ff9528 , 1145px 830px #ff9528 , 725px 1949px #ff9528 , 673px 791px #ff9528 , 234px 391px #ff9528 , 1361px 1783px #ff9528 , 203px 229px #ff9528 , 1427px 229px #ff9528 , 515px 1092px #ff9528 , 218px 1366px #ff9528 , 1004px 1173px #ff9528 , 411px 1692px #ff9528 , 826px 1401px #ff9528 , 945px 571px #ff9528 , 1px 252px #ff9528 , 1842px 338px #ff9528 , 1142px 38px #ff9528 , 994px 71px #ff9528 , 1150px 767px #ff9528 , 1602px 1501px #ff9528 , 1494px 591px #ff9528;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.NameAsImg {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  scale: .9;
}

@media (max-width: 1280px) {
  .NameAsImg {
    scale: .7;
    right: -6vw;
    bottom: -2vh;
  }
}

@media (max-width: 768px) {
  .NameAsImg {
    right: -10vw;
    bottom: -2vh;
  }
}

@media (max-width: 570px) {
  .NameAsImg {
    bottom: 0;
    right: -20vw;
    scale: .5;
    width: 100vw;
  }
}

.titles {
  top: 39vh;
  left: 45vw;
  position: absolute;
}

@media (max-width: 768px) {
  .titles {
    display: none;
  }
}

.ProjectstitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.ContacttitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  left: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.AbouttitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  left: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.Projectstitle {
  position: absolute;
  font-size: 4vw;
  top: -17vw;
  z-index: 70;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Projectstitle:hover {
  transform: translateX(1vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.3;
}

@media (max-width: 1280px) {
  .Projectstitle {
    top: -27vh;
  }
}

@media (max-width: 768px) {
  .Projectstitle {
    font-size: 2vw;
    top: -32vw;
  }
}

.Contacttitle {
  position: absolute;
  font-size: 4vw;
  z-index: 70;
  top: -5vh;
  left: 22vw;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Contacttitle:hover {
  transform: translateX(3vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.2;
}

@media (max-width: 1280px) {
  .Contacttitle {
    left: 21vw;
  }
}

@media (max-width: 768px) {
  .Contacttitle {
    font-size: 2vw;
    top: -5vh;
    left: 29vh;
  }
}

.Abouttitle {
  position: absolute;
  font-size: 4vw;
  left: -22vw;
  top: -1vh;
  z-index: 70;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Abouttitle:hover {
  transform: translateX(-3vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.2;
}

@media (max-width: 1280px) {
  .Abouttitle {
    left: -18vw;
    top: 1vh;
  }
}

@media (max-width: 768px) {
  .Abouttitle {
    font-size: 2vw;
    left: -31vh;
    top: 0vh;
  }
}

.titlesMobile {
  display: none;
}

@media (max-width: 768px) {
  .titlesMobile {
    font-size: 4vw;
    position: absolute;
    top: 2vh;
    left: 4vw;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .titlesMobile {
    font-size: 6vw;
  }
}

.arrowBack {
  position: absolute;
  top: 6vh;
  left: 3vw;
  scale: 2;
}

.AbouttitleMobileInActive {
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out .8s;
}

.ProjectstitleMobileInActive {
  position: absolute;
  left: 0;
  top: 13vh;
  transition: all ease-in-out .8s;
}

.ContacttitleMobileInActive {
  position: absolute;
  left: 0;
  top: 26vh;
  transition: all ease-in-out .8s;
}

.AbouttitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.ProjectstitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.ContacttitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.titlesMobileHidden {
  opacity: 0;
  transform: translateX(-35vw);
  transition: all ease-in-out .5s;
}

.PageIsLoad {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  width: 80vw;
  height: 75vh;
  z-index: 100;
  margin: 10vh;
  animation: pageLoader 0.5s linear;
}

@media (max-width: 768px) {
  .PageIsLoad {
    width: 80%;
    height: auto;
    margin: 0;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes pageLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PageTitle {
  display: flex;
  align-items: center;
  font-size: 6vh;
}

@media (max-width: 768px) {
  .PageTitle {
    display: none;
  }
}

.BackIcon {
  width: 4vh;
  height: 4vh;
  margin: 0vh 2vh;
  justify-self: flex-start;
  cursor: pointer;
}

.BackIcon:hover {
  color: rgba(255, 115, 0, 0.945);
}

.AboutContent {
  font-size: 2vh;
  margin: 4vh 8vh;
  display: inline;
}

@media (max-width: 768px) {
  .AboutContent {
    font-size: 1.6vh;
  }
}

@media (max-width: 570px) {
  .AboutContent {
    font-size: 1.6vh;
    margin: 2vh 12vw;
    width: 80%;
  }
}

.AboutContent span {
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.ProjectList {
  overflow-wrap: break-word;
  list-style: none;
  display: inline-grid;
  grid-template-columns: 24% 24% 24%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .ProjectList {
    grid-template-columns: 49% 49%;
  }
}

.ProjectListItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  position: relative;
  width: 100%;
}

.ProjectListItem::before {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  opacity: .2;
  top: 0;
  left: 0;
  transition: .1s all ease-in-out;
}

.ProjectListItem:hover::before {
  opacity: .5;
}

@media (max-width: 768px) {
  .ProjectListItem {
    font-size: 11px;
  }
}

.ProjectListItem:hover {
  color: rgba(255, 115, 0, 0.945);
}

.Hidden {
  display: none;
}

.projectDisplayIsActive {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 86vw;
  position: absolute;
}

.ProjectTitle {
  display: flex;
  align-items: center;
}

.ProjectLink {
  font-size: 4vh;
  text-decoration: none;
  color: white;
}

.ProjectLink:hover {
  color: rgba(255, 115, 0, 0.945);
}

.link {
  transform: rotate(90deg);
  width: 4vh;
  height: 3vh;
  cursor: pointer;
}

.ProjectDetails {
  margin-top: 2vh;
  margin-left: 9vh;
  font-size: 2vh;
}

.ProjectLinks {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  text-decoration: none;
}

.ProjectLinks:hover {
  color: rgba(255, 115, 0, 0.945);
  text-decoration: underline;
}

.ProjectLinks .ProjectLinkIcon {
  transform: rotate(90deg);
}

.ContactContent {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  width: 35vw;
  margin-left: 4.5vw;
}

@media (max-width: 768px) {
  .ContactContent {
    width: 80vw;
    font-size: 4vw;
    align-items: center;
    margin-left: 0vw;
  }
}

.ContactContent button {
  width: 30vw;
  height: 5vh;
  font-size: 1.6vw;
  background-color: #ffffff;
  border: none;
  color: rgba(98, 148, 197, 0.7);
  cursor: pointer;
  transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .ContactContent button {
    width: 85vw;
    font-size: 4vw;
  }
}

.ContactContent button:hover {
  scale: 1.05;
  background-color: #f3f3f3;
}

.ContactAlso {
  position: absolute;
  bottom: 10vh;
  left: -6.5vh;
}

@media (max-width: 768px) {
  .ContactAlso {
    bottom: -10vh;
    left: 12vw;
  }
}

.UnderContactTitle {
  letter-spacing: 0.2vh;
  font-size: 2vh;
  margin: 2vh 0vh;
}

@media (max-width: 768px) {
  .UnderContactTitle {
    width: 80vw;
    font-size: 4vw;
  }
}

.PersonalInfoInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  margin-top: 3vh;
}

@media (max-width: 768px) {
  .PersonalInfoInput {
    width: 80vw;
    font-size: 4vw;
  }
}

.PersonalInfoInput input {
  width: 14.5vw;
  height: 4vh;
  border: none;
  background: rgba(98, 148, 197, 0.7);
  font-size: 1.5vw;
  border: 0.1vh solid #ffffff;
  color: #ffffff;
}

@media (max-width: 768px) {
  .PersonalInfoInput input {
    font-size: 3.6vw;
    width: 38vw;
  }
}

.PersonalInfoInput input::placeholder {
  padding: 0.5vh;
  color: #ffffff;
}

.PersonalInfoInput input:focus {
  outline: none;
}

.PersonalInfoInput input:focus::placeholder {
  color: transparent;
}

.MessageInput {
  width: 30vw;
  height: 20vh;
  margin: 2vh 0vh;
  background-color: aliceblue;
  resize: none;
  background: rgba(98, 148, 197, 0.7);
  border: 0.1vh solid #ffffff;
  color: #ffffff;
  font-size: 1.5vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2vh;
}

@media (max-width: 768px) {
  .MessageInput {
    font-size: 3.6vw;
    width: 80vw;
  }
}

.MessageInput:focus {
  outline: none;
}

.MessageInput::placeholder {
  color: #ffffff;
  font-size: 1.4vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2vh;
  padding: 0.5vh;
}

.MessageInput:focus::placeholder {
  color: transparent;
}

@media (max-width: 768px) {
  .detailsSmall {
    font-size: 3.2vw;
  }
}
