.container {
  background-image: url(../public/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    background-image: url(../public/background-mobile.webp);
  }
}

.body_container {
  width: 98vw;
  height: 98vh;
  border: .5vh solid white;
  position: relative;
}

.MainTitle {
  position: absolute;
  margin: 3vw;
  font-size: 3vw !important;
  letter-spacing: -0.06vh !important;
}

@media (max-width: 768px) {
  .MainTitle {
    display: none;
  }
}

.SideLine {
  position: absolute;
  top: 20vh;
  right: -8vh;
  transform: rotate(-90deg);
  font-style: normal;
  font-size: 2vh;
  cursor: pointer;
  z-index: 999999;
}

@media (max-width: 768px) {
  .SideLine {
    display: none;
  }
}

.RefsWrapper {
  position: absolute;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  bottom: 3vh;
  left: 6vh;
  z-index: 200;
}

@media (max-width: 768px) {
  .RefsWrapper {
    scale: .7;
    height: 25vh;
    flex-direction: column;
    bottom: -1vh;
    left: 1vw;
  }
}

@media (max-width: 570px) {
  .RefsWrapper {
    scale: .7;
    flex-direction: column;
    bottom: -1vh;
    left: 3vw;
  }
}

.RefsWrapper a {
  width: 6vh !important;
  height: 6vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear all .3s;
  transform: translateY(0vh);
}

.RefsWrapper a:hover .RefImg {
  transform: translateY(-2vh);
  transition: linear all .3s;
  color: rgba(245, 69, 0, 0.884);
}

.RefImg {
  color: #ffffff;
  width: 6vh;
  height: 6vh;
  transition: linear all .3s;
}

@media (max-width: 570px) {
  .RefImg {
    width: 3vh;
    height: 3vh;
  }
}

.ashesWrapper {
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 100%;
  height: 97vh;
  overflow: hidden;
}

#stars {
  width: .3vh;
  height: .3vh;
  border-radius: 9999999px;
  background: transparent;
  box-shadow: 934px 1526px #ff9528 , 391px 1777px #ff9528 , 124px 1554px #ff9528 , 865px 1665px #ff9528 , 353px 1049px #ff9528 , 832px 777px #ff9528 , 1365px 1258px #ff9528 , 1939px 1567px #ff9528 , 408px 496px #ff9528 , 932px 1332px #ff9528 , 959px 313px #ff9528 , 275px 577px #ff9528 , 1276px 1963px #ff9528 , 1014px 1232px #ff9528 , 1570px 820px #ff9528 , 1818px 1827px #ff9528 , 1789px 1774px #ff9528 , 13px 616px #ff9528 , 1347px 1546px #ff9528 , 633px 1795px #ff9528 , 858px 212px #ff9528 , 937px 1350px #ff9528 , 1102px 1797px #ff9528 , 914px 1287px #ff9528 , 1461px 1146px #ff9528 , 1687px 154px #ff9528 , 1611px 1789px #ff9528 , 1844px 1541px #ff9528 , 496px 977px #ff9528 , 129px 410px #ff9528 , 996px 122px #ff9528 , 1941px 1736px #ff9528 , 415px 319px #ff9528 , 843px 994px #ff9528 , 233px 1589px #ff9528 , 658px 1764px #ff9528 , 1086px 950px #ff9528 , 1457px 971px #ff9528 , 1383px 65px #ff9528 , 583px 1807px #ff9528 , 1273px 263px #ff9528 , 324px 1976px #ff9528 , 867px 128px #ff9528 , 1375px 22px #ff9528 , 222px 867px #ff9528 , 453px 276px #ff9528 , 1085px 1781px #ff9528 , 1628px 759px #ff9528 , 509px 1798px #ff9528 , 1573px 81px #ff9528 , 1060px 1127px #ff9528 , 1610px 147px #ff9528 , 1461px 544px #ff9528 , 1408px 563px #ff9528 , 882px 1454px #ff9528 , 1802px 1581px #ff9528 , 1727px 148px #ff9528 , 914px 1486px #ff9528 , 1647px 1167px #ff9528 , 993px 446px #ff9528 , 1221px 242px #ff9528 , 804px 1422px #ff9528 , 1327px 89px #ff9528 , 261px 270px #ff9528 , 1346px 574px #ff9528 , 649px 788px #ff9528 , 450px 1797px #ff9528 , 1630px 1965px #ff9528 , 1858px 1661px #ff9528 , 542px 996px #ff9528 , 1594px 1712px #ff9528 , 389px 703px #ff9528 , 1737px 1514px #ff9528 , 526px 1604px #ff9528 , 123px 1993px #ff9528 , 1376px 273px #ff9528 , 788px 698px #ff9528 , 646px 789px #ff9528 , 1177px 1920px #ff9528 , 1950px 715px #ff9528 , 250px 1724px #ff9528 , 867px 1252px #ff9528 , 413px 1106px #ff9528 , 970px 632px #ff9528 , 1452px 96px #ff9528 , 1100px 1504px #ff9528 , 1453px 1397px #ff9528 , 1806px 439px #ff9528 , 522px 863px #ff9528 , 593px 732px #ff9528 , 320px 1642px #ff9528 , 1793px 1770px #ff9528 , 1409px 149px #ff9528 , 1550px 711px #ff9528 , 1554px 1722px #ff9528 , 1482px 1516px #ff9528 , 196px 1821px #ff9528 , 1723px 586px #ff9528 , 1693px 1965px #ff9528 , 832px 856px #ff9528 , 929px 1213px #ff9528 , 580px 1053px #ff9528 , 668px 196px #ff9528 , 1592px 1064px #ff9528 , 46px 485px #ff9528 , 106px 1986px #ff9528 , 1628px 13px #ff9528 , 1551px 201px #ff9528 , 732px 228px #ff9528 , 506px 404px #ff9528 , 1177px 1783px #ff9528 , 1962px 647px #ff9528 , 1533px 51px #ff9528 , 1599px 615px #ff9528 , 1522px 1537px #ff9528 , 950px 710px #ff9528 , 1231px 1277px #ff9528 , 1107px 1691px #ff9528 , 1551px 57px #ff9528 , 1715px 1993px #ff9528 , 1769px 231px #ff9528 , 1524px 1545px #ff9528 , 746px 1110px #ff9528 , 912px 1771px #ff9528 , 1003px 1204px #ff9528 , 1104px 1409px #ff9528 , 718px 284px #ff9528 , 1581px 637px #ff9528 , 1736px 99px #ff9528 , 1984px 1188px #ff9528 , 341px 1772px #ff9528 , 185px 1261px #ff9528 , 756px 1976px #ff9528 , 1358px 841px #ff9528 , 666px 380px #ff9528 , 1371px 36px #ff9528 , 858px 1478px #ff9528 , 1196px 1729px #ff9528 , 1794px 963px #ff9528 , 313px 1683px #ff9528 , 1774px 1494px #ff9528 , 974px 1402px #ff9528 , 537px 1851px #ff9528 , 304px 8px #ff9528 , 491px 1390px #ff9528 , 1338px 1901px #ff9528 , 186px 419px #ff9528 , 522px 1649px #ff9528 , 1054px 1789px #ff9528 , 1695px 198px #ff9528 , 82px 228px #ff9528 , 986px 1982px #ff9528 , 963px 117px #ff9528 , 1547px 1954px #ff9528 , 667px 1028px #ff9528 , 1828px 457px #ff9528 , 987px 881px #ff9528 , 462px 1840px #ff9528 , 812px 546px #ff9528 , 1281px 1681px #ff9528 , 762px 91px #ff9528 , 1519px 730px #ff9528 , 1493px 455px #ff9528 , 1782px 1888px #ff9528 , 1341px 265px #ff9528 , 512px 310px #ff9528 , 314px 1649px #ff9528 , 152px 1907px #ff9528 , 426px 1484px #ff9528 , 1121px 847px #ff9528 , 1460px 1907px #ff9528 , 369px 1530px #ff9528 , 393px 1555px #ff9528 , 115px 1360px #ff9528 , 1784px 45px #ff9528 , 592px 330px #ff9528 , 1598px 1236px #ff9528 , 1521px 1174px #ff9528 , 921px 516px #ff9528 , 1983px 903px #ff9528 , 449px 926px #ff9528 , 1093px 1767px #ff9528 , 896px 403px #ff9528 , 1714px 764px #ff9528 , 1724px 870px #ff9528 , 564px 1457px #ff9528 , 1299px 1892px #ff9528 , 732px 1792px #ff9528 , 1130px 213px #ff9528 , 751px 1619px #ff9528 , 1117px 480px #ff9528 , 1391px 1505px #ff9528 , 1350px 1651px #ff9528 , 1281px 1710px #ff9528 , 758px 841px #ff9528 , 677px 837px #ff9528 , 875px 1959px #ff9528 , 1236px 1059px #ff9528 , 1258px 143px #ff9528 , 1742px 802px #ff9528 , 1658px 646px #ff9528 , 1561px 1522px #ff9528 , 1993px 1914px #ff9528 , 1483px 242px #ff9528 , 1804px 42px #ff9528 , 126px 1276px #ff9528 , 173px 959px #ff9528 , 1263px 280px #ff9528 , 1400px 626px #ff9528 , 246px 735px #ff9528 , 1122px 459px #ff9528 , 183px 1896px #ff9528 , 40px 1140px #ff9528 , 113px 473px #ff9528 , 502px 830px #ff9528 , 654px 423px #ff9528 , 424px 431px #ff9528 , 1497px 463px #ff9528 , 339px 1483px #ff9528 , 1170px 1641px #ff9528 , 967px 396px #ff9528 , 1361px 1px #ff9528 , 1791px 1829px #ff9528 , 1755px 1238px #ff9528 , 385px 1463px #ff9528 , 1731px 1270px #ff9528 , 939px 1959px #ff9528 , 1431px 328px #ff9528 , 597px 480px #ff9528 , 110px 1152px #ff9528 , 1207px 746px #ff9528 , 102px 1262px #ff9528 , 349px 1884px #ff9528 , 1892px 193px #ff9528 , 1304px 1480px #ff9528 , 722px 367px #ff9528 , 108px 467px #ff9528 , 1302px 1732px #ff9528 , 795px 701px #ff9528 , 219px 870px #ff9528 , 642px 150px #ff9528 , 1250px 1129px #ff9528 , 1445px 1169px #ff9528 , 209px 1403px #ff9528 , 862px 1099px #ff9528 , 1014px 744px #ff9528 , 577px 1740px #ff9528 , 426px 551px #ff9528 , 1485px 1449px #ff9528 , 807px 1450px #ff9528;
  animation: animStar 40s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .3vh;
  height: .3vh;
  background: transparent;
  box-shadow: 934px 1526px #ff9528 , 391px 1777px #ff9528 , 124px 1554px #ff9528 , 865px 1665px #ff9528 , 353px 1049px #ff9528 , 832px 777px #ff9528 , 1365px 1258px #ff9528 , 1939px 1567px #ff9528 , 408px 496px #ff9528 , 932px 1332px #ff9528 , 959px 313px #ff9528 , 275px 577px #ff9528 , 1276px 1963px #ff9528 , 1014px 1232px #ff9528 , 1570px 820px #ff9528 , 1818px 1827px #ff9528 , 1789px 1774px #ff9528 , 13px 616px #ff9528 , 1347px 1546px #ff9528 , 633px 1795px #ff9528 , 858px 212px #ff9528 , 937px 1350px #ff9528 , 1102px 1797px #ff9528 , 914px 1287px #ff9528 , 1461px 1146px #ff9528 , 1687px 154px #ff9528 , 1611px 1789px #ff9528 , 1844px 1541px #ff9528 , 496px 977px #ff9528 , 129px 410px #ff9528 , 996px 122px #ff9528 , 1941px 1736px #ff9528 , 415px 319px #ff9528 , 843px 994px #ff9528 , 233px 1589px #ff9528 , 658px 1764px #ff9528 , 1086px 950px #ff9528 , 1457px 971px #ff9528 , 1383px 65px #ff9528 , 583px 1807px #ff9528 , 1273px 263px #ff9528 , 324px 1976px #ff9528 , 867px 128px #ff9528 , 1375px 22px #ff9528 , 222px 867px #ff9528 , 453px 276px #ff9528 , 1085px 1781px #ff9528 , 1628px 759px #ff9528 , 509px 1798px #ff9528 , 1573px 81px #ff9528 , 1060px 1127px #ff9528 , 1610px 147px #ff9528 , 1461px 544px #ff9528 , 1408px 563px #ff9528 , 882px 1454px #ff9528 , 1802px 1581px #ff9528 , 1727px 148px #ff9528 , 914px 1486px #ff9528 , 1647px 1167px #ff9528 , 993px 446px #ff9528 , 1221px 242px #ff9528 , 804px 1422px #ff9528 , 1327px 89px #ff9528 , 261px 270px #ff9528 , 1346px 574px #ff9528 , 649px 788px #ff9528 , 450px 1797px #ff9528 , 1630px 1965px #ff9528 , 1858px 1661px #ff9528 , 542px 996px #ff9528 , 1594px 1712px #ff9528 , 389px 703px #ff9528 , 1737px 1514px #ff9528 , 526px 1604px #ff9528 , 123px 1993px #ff9528 , 1376px 273px #ff9528 , 788px 698px #ff9528 , 646px 789px #ff9528 , 1177px 1920px #ff9528 , 1950px 715px #ff9528 , 250px 1724px #ff9528 , 867px 1252px #ff9528 , 413px 1106px #ff9528 , 970px 632px #ff9528 , 1452px 96px #ff9528 , 1100px 1504px #ff9528 , 1453px 1397px #ff9528 , 1806px 439px #ff9528 , 522px 863px #ff9528 , 593px 732px #ff9528 , 320px 1642px #ff9528 , 1793px 1770px #ff9528 , 1409px 149px #ff9528 , 1550px 711px #ff9528 , 1554px 1722px #ff9528 , 1482px 1516px #ff9528 , 196px 1821px #ff9528 , 1723px 586px #ff9528 , 1693px 1965px #ff9528 , 832px 856px #ff9528 , 929px 1213px #ff9528 , 580px 1053px #ff9528 , 668px 196px #ff9528 , 1592px 1064px #ff9528 , 46px 485px #ff9528 , 106px 1986px #ff9528 , 1628px 13px #ff9528 , 1551px 201px #ff9528 , 732px 228px #ff9528 , 506px 404px #ff9528 , 1177px 1783px #ff9528 , 1962px 647px #ff9528 , 1533px 51px #ff9528 , 1599px 615px #ff9528 , 1522px 1537px #ff9528 , 950px 710px #ff9528 , 1231px 1277px #ff9528 , 1107px 1691px #ff9528 , 1551px 57px #ff9528 , 1715px 1993px #ff9528 , 1769px 231px #ff9528 , 1524px 1545px #ff9528 , 746px 1110px #ff9528 , 912px 1771px #ff9528 , 1003px 1204px #ff9528 , 1104px 1409px #ff9528 , 718px 284px #ff9528 , 1581px 637px #ff9528 , 1736px 99px #ff9528 , 1984px 1188px #ff9528 , 341px 1772px #ff9528 , 185px 1261px #ff9528 , 756px 1976px #ff9528 , 1358px 841px #ff9528 , 666px 380px #ff9528 , 1371px 36px #ff9528 , 858px 1478px #ff9528 , 1196px 1729px #ff9528 , 1794px 963px #ff9528 , 313px 1683px #ff9528 , 1774px 1494px #ff9528 , 974px 1402px #ff9528 , 537px 1851px #ff9528 , 304px 8px #ff9528 , 491px 1390px #ff9528 , 1338px 1901px #ff9528 , 186px 419px #ff9528 , 522px 1649px #ff9528 , 1054px 1789px #ff9528 , 1695px 198px #ff9528 , 82px 228px #ff9528 , 986px 1982px #ff9528 , 963px 117px #ff9528 , 1547px 1954px #ff9528 , 667px 1028px #ff9528 , 1828px 457px #ff9528 , 987px 881px #ff9528 , 462px 1840px #ff9528 , 812px 546px #ff9528 , 1281px 1681px #ff9528 , 762px 91px #ff9528 , 1519px 730px #ff9528 , 1493px 455px #ff9528 , 1782px 1888px #ff9528 , 1341px 265px #ff9528 , 512px 310px #ff9528 , 314px 1649px #ff9528 , 152px 1907px #ff9528 , 426px 1484px #ff9528 , 1121px 847px #ff9528 , 1460px 1907px #ff9528 , 369px 1530px #ff9528 , 393px 1555px #ff9528 , 115px 1360px #ff9528 , 1784px 45px #ff9528 , 592px 330px #ff9528 , 1598px 1236px #ff9528 , 1521px 1174px #ff9528 , 921px 516px #ff9528 , 1983px 903px #ff9528 , 449px 926px #ff9528 , 1093px 1767px #ff9528 , 896px 403px #ff9528 , 1714px 764px #ff9528 , 1724px 870px #ff9528 , 564px 1457px #ff9528 , 1299px 1892px #ff9528 , 732px 1792px #ff9528 , 1130px 213px #ff9528 , 751px 1619px #ff9528 , 1117px 480px #ff9528 , 1391px 1505px #ff9528 , 1350px 1651px #ff9528 , 1281px 1710px #ff9528 , 758px 841px #ff9528 , 677px 837px #ff9528 , 875px 1959px #ff9528 , 1236px 1059px #ff9528 , 1258px 143px #ff9528 , 1742px 802px #ff9528 , 1658px 646px #ff9528 , 1561px 1522px #ff9528 , 1993px 1914px #ff9528 , 1483px 242px #ff9528 , 1804px 42px #ff9528 , 126px 1276px #ff9528 , 173px 959px #ff9528 , 1263px 280px #ff9528 , 1400px 626px #ff9528 , 246px 735px #ff9528 , 1122px 459px #ff9528 , 183px 1896px #ff9528 , 40px 1140px #ff9528 , 113px 473px #ff9528 , 502px 830px #ff9528 , 654px 423px #ff9528 , 424px 431px #ff9528 , 1497px 463px #ff9528 , 339px 1483px #ff9528 , 1170px 1641px #ff9528 , 967px 396px #ff9528 , 1361px 1px #ff9528 , 1791px 1829px #ff9528 , 1755px 1238px #ff9528 , 385px 1463px #ff9528 , 1731px 1270px #ff9528 , 939px 1959px #ff9528 , 1431px 328px #ff9528 , 597px 480px #ff9528 , 110px 1152px #ff9528 , 1207px 746px #ff9528 , 102px 1262px #ff9528 , 349px 1884px #ff9528 , 1892px 193px #ff9528 , 1304px 1480px #ff9528 , 722px 367px #ff9528 , 108px 467px #ff9528 , 1302px 1732px #ff9528 , 795px 701px #ff9528 , 219px 870px #ff9528 , 642px 150px #ff9528 , 1250px 1129px #ff9528 , 1445px 1169px #ff9528 , 209px 1403px #ff9528 , 862px 1099px #ff9528 , 1014px 744px #ff9528 , 577px 1740px #ff9528 , 426px 551px #ff9528 , 1485px 1449px #ff9528 , 807px 1450px #ff9528;
}

#stars2 {
  width: .4vh;
  height: .4vh;
  border-radius: 9999999px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 39px 1210px #ff9528 , 1957px 17px #ff9528 , 1592px 638px #ff9528 , 184px 1886px #ff9528 , 1300px 1543px #ff9528 , 1104px 54px #ff9528 , 1068px 640px #ff9528 , 1313px 1562px #ff9528 , 1248px 1928px #ff9528 , 1687px 179px #ff9528 , 1526px 1352px #ff9528 , 716px 592px #ff9528 , 1500px 63px #ff9528 , 232px 481px #ff9528 , 1828px 1086px #ff9528 , 1648px 1857px #ff9528 , 1283px 34px #ff9528 , 1082px 1876px #ff9528 , 1442px 188px #ff9528 , 1710px 172px #ff9528 , 1118px 586px #ff9528 , 1900px 1008px #ff9528 , 1262px 151px #ff9528 , 1051px 753px #ff9528 , 848px 1697px #ff9528 , 836px 917px #ff9528 , 1346px 570px #ff9528 , 308px 505px #ff9528 , 521px 632px #ff9528 , 314px 1555px #ff9528 , 330px 99px #ff9528 , 1109px 81px #ff9528 , 117px 1848px #ff9528 , 702px 261px #ff9528 , 1813px 1327px #ff9528 , 833px 1210px #ff9528 , 1170px 371px #ff9528 , 126px 1482px #ff9528 , 65px 246px #ff9528 , 1336px 1655px #ff9528 , 882px 1389px #ff9528 , 385px 1160px #ff9528 , 139px 1601px #ff9528 , 967px 1111px #ff9528 , 196px 821px #ff9528 , 1706px 322px #ff9528 , 295px 1327px #ff9528 , 645px 18px #ff9528 , 252px 287px #ff9528 , 1221px 1165px #ff9528 , 1549px 1494px #ff9528 , 1590px 1020px #ff9528 , 1482px 1652px #ff9528 , 280px 970px #ff9528 , 1958px 484px #ff9528 , 459px 517px #ff9528 , 1523px 1959px #ff9528 , 8px 4px #ff9528 , 1615px 1258px #ff9528 , 508px 1451px #ff9528 , 613px 971px #ff9528 , 1172px 10px #ff9528 , 1427px 231px #ff9528 , 1066px 1323px #ff9528 , 965px 14px #ff9528 , 332px 853px #ff9528 , 1377px 310px #ff9528 , 397px 1713px #ff9528 , 957px 183px #ff9528 , 926px 1687px #ff9528 , 1402px 600px #ff9528 , 1190px 915px #ff9528 , 1174px 602px #ff9528 , 570px 355px #ff9528 , 1123px 864px #ff9528 , 663px 824px #ff9528 , 17px 1501px #ff9528 , 1094px 314px #ff9528 , 549px 401px #ff9528 , 171px 1551px #ff9528 , 513px 1632px #ff9528 , 1481px 1521px #ff9528 , 1297px 1344px #ff9528 , 692px 1375px #ff9528 , 836px 1779px #ff9528 , 1692px 1733px #ff9528 , 1133px 302px #ff9528 , 841px 1825px #ff9528 , 886px 1383px #ff9528 , 1212px 222px #ff9528 , 1076px 265px #ff9528 , 1783px 1381px #ff9528 , 296px 1046px #ff9528 , 1995px 755px #ff9528 , 1644px 871px #ff9528 , 407px 1999px #ff9528 , 1936px 513px #ff9528 , 896px 1248px #ff9528 , 1501px 1049px #ff9528 , 228px 527px #ff9528 , 1852px 123px #ff9528 , 1209px 260px #ff9528 , 1563px 1952px #ff9528 , 955px 83px #ff9528 , 1984px 1052px #ff9528 , 1348px 628px #ff9528 , 1495px 1986px #ff9528 , 1913px 412px #ff9528 , 1581px 1836px #ff9528 , 1201px 689px #ff9528 , 535px 1488px #ff9528 , 1458px 1053px #ff9528 , 975px 1801px #ff9528 , 1901px 1068px #ff9528 , 603px 1107px #ff9528 , 1182px 614px #ff9528 , 365px 1304px #ff9528 , 477px 98px #ff9528 , 1411px 1154px #ff9528 , 456px 1387px #ff9528 , 1471px 1577px #ff9528 , 136px 724px #ff9528 , 82px 834px #ff9528 , 1649px 1741px #ff9528 , 1508px 1541px #ff9528 , 1368px 1187px #ff9528 , 1513px 1983px #ff9528 , 1450px 123px #ff9528 , 736px 1095px #ff9528 , 833px 326px #ff9528 , 359px 326px #ff9528 , 1179px 198px #ff9528 , 70px 646px #ff9528 , 1231px 1530px #ff9528 , 947px 1819px #ff9528 , 1937px 14px #ff9528 , 548px 1820px #ff9528 , 559px 1468px #ff9528 , 1869px 566px #ff9528 , 511px 271px #ff9528 , 201px 1569px #ff9528 , 22px 1982px #ff9528 , 32px 1437px #ff9528 , 1291px 1048px #ff9528 , 422px 1216px #ff9528 , 960px 858px #ff9528 , 1092px 1489px #ff9528 , 659px 126px #ff9528 , 1067px 1589px #ff9528 , 886px 1463px #ff9528 , 129px 193px #ff9528 , 1558px 683px #ff9528 , 801px 935px #ff9528 , 1273px 1869px #ff9528 , 1605px 1899px #ff9528 , 395px 1806px #ff9528 , 1271px 1020px #ff9528 , 187px 797px #ff9528 , 1467px 378px #ff9528 , 810px 321px #ff9528 , 1517px 1417px #ff9528 , 307px 1908px #ff9528 , 1369px 758px #ff9528 , 1691px 1207px #ff9528 , 1701px 1043px #ff9528 , 597px 884px #ff9528 , 559px 591px #ff9528 , 1048px 525px #ff9528 , 1233px 1730px #ff9528 , 334px 645px #ff9528 , 1190px 1768px #ff9528 , 22px 1631px #ff9528 , 960px 82px #ff9528 , 404px 1559px #ff9528 , 914px 281px #ff9528 , 378px 995px #ff9528 , 503px 570px #ff9528 , 1327px 340px #ff9528 , 673px 1951px #ff9528 , 1141px 1317px #ff9528 , 1461px 1092px #ff9528 , 1045px 1851px #ff9528 , 801px 1060px #ff9528 , 85px 1697px #ff9528 , 133px 1833px #ff9528 , 1006px 184px #ff9528 , 348px 1406px #ff9528 , 1680px 1809px #ff9528 , 1306px 1867px #ff9528 , 489px 1597px #ff9528 , 289px 471px #ff9528 , 1071px 1426px #ff9528 , 42px 527px #ff9528 , 1430px 787px #ff9528 , 76px 1336px #ff9528 , 1936px 634px #ff9528 , 181px 412px #ff9528 , 1052px 1860px #ff9528 , 948px 792px #ff9528 , 608px 598px #ff9528 , 1653px 333px #ff9528 , 496px 611px #ff9528 , 1037px 123px #ff9528 , 549px 1060px #ff9528 , 600px 1116px #ff9528 , 1579px 1398px #ff9528 , 1954px 688px #ff9528 , 1044px 1344px #ff9528 , 1715px 103px #ff9528 , 137px 197px #ff9528 , 1319px 115px #ff9528 , 1302px 1447px #ff9528 , 1564px 242px #ff9528 , 695px 946px #ff9528 , 204px 199px #ff9528 , 1280px 608px #ff9528 , 1483px 286px #ff9528 , 1614px 1414px #ff9528 , 1241px 861px #ff9528 , 723px 1832px #ff9528 , 842px 1893px #ff9528 , 1037px 1902px #ff9528 , 344px 848px #ff9528 , 1579px 787px #ff9528 , 1257px 1180px #ff9528 , 1009px 1447px #ff9528 , 1162px 1490px #ff9528 , 407px 1925px #ff9528 , 1807px 1778px #ff9528 , 848px 790px #ff9528 , 1456px 485px #ff9528 , 1996px 809px #ff9528 , 1160px 572px #ff9528 , 488px 1722px #ff9528 , 243px 1531px #ff9528 , 1174px 1624px #ff9528 , 1010px 545px #ff9528 , 1844px 952px #ff9528 , 432px 1432px #ff9528 , 233px 1396px #ff9528 , 1575px 1925px #ff9528 , 160px 1056px #ff9528 , 1708px 466px #ff9528 , 1473px 1079px #ff9528 , 277px 1048px #ff9528 , 421px 1577px #ff9528 , 1820px 487px #ff9528 , 1046px 499px #ff9528 , 1751px 1109px #ff9528 , 680px 808px #ff9528;
  animation: animStar 50s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .4vh;
  height: .4vh;
  background: transparent;
  box-shadow: 39px 1210px #ff9528 , 1957px 17px #ff9528 , 1592px 638px #ff9528 , 184px 1886px #ff9528 , 1300px 1543px #ff9528 , 1104px 54px #ff9528 , 1068px 640px #ff9528 , 1313px 1562px #ff9528 , 1248px 1928px #ff9528 , 1687px 179px #ff9528 , 1526px 1352px #ff9528 , 716px 592px #ff9528 , 1500px 63px #ff9528 , 232px 481px #ff9528 , 1828px 1086px #ff9528 , 1648px 1857px #ff9528 , 1283px 34px #ff9528 , 1082px 1876px #ff9528 , 1442px 188px #ff9528 , 1710px 172px #ff9528 , 1118px 586px #ff9528 , 1900px 1008px #ff9528 , 1262px 151px #ff9528 , 1051px 753px #ff9528 , 848px 1697px #ff9528 , 836px 917px #ff9528 , 1346px 570px #ff9528 , 308px 505px #ff9528 , 521px 632px #ff9528 , 314px 1555px #ff9528 , 330px 99px #ff9528 , 1109px 81px #ff9528 , 117px 1848px #ff9528 , 702px 261px #ff9528 , 1813px 1327px #ff9528 , 833px 1210px #ff9528 , 1170px 371px #ff9528 , 126px 1482px #ff9528 , 65px 246px #ff9528 , 1336px 1655px #ff9528 , 882px 1389px #ff9528 , 385px 1160px #ff9528 , 139px 1601px #ff9528 , 967px 1111px #ff9528 , 196px 821px #ff9528 , 1706px 322px #ff9528 , 295px 1327px #ff9528 , 645px 18px #ff9528 , 252px 287px #ff9528 , 1221px 1165px #ff9528 , 1549px 1494px #ff9528 , 1590px 1020px #ff9528 , 1482px 1652px #ff9528 , 280px 970px #ff9528 , 1958px 484px #ff9528 , 459px 517px #ff9528 , 1523px 1959px #ff9528 , 8px 4px #ff9528 , 1615px 1258px #ff9528 , 508px 1451px #ff9528 , 613px 971px #ff9528 , 1172px 10px #ff9528 , 1427px 231px #ff9528 , 1066px 1323px #ff9528 , 965px 14px #ff9528 , 332px 853px #ff9528 , 1377px 310px #ff9528 , 397px 1713px #ff9528 , 957px 183px #ff9528 , 926px 1687px #ff9528 , 1402px 600px #ff9528 , 1190px 915px #ff9528 , 1174px 602px #ff9528 , 570px 355px #ff9528 , 1123px 864px #ff9528 , 663px 824px #ff9528 , 17px 1501px #ff9528 , 1094px 314px #ff9528 , 549px 401px #ff9528 , 171px 1551px #ff9528 , 513px 1632px #ff9528 , 1481px 1521px #ff9528 , 1297px 1344px #ff9528 , 692px 1375px #ff9528 , 836px 1779px #ff9528 , 1692px 1733px #ff9528 , 1133px 302px #ff9528 , 841px 1825px #ff9528 , 886px 1383px #ff9528 , 1212px 222px #ff9528 , 1076px 265px #ff9528 , 1783px 1381px #ff9528 , 296px 1046px #ff9528 , 1995px 755px #ff9528 , 1644px 871px #ff9528 , 407px 1999px #ff9528 , 1936px 513px #ff9528 , 896px 1248px #ff9528 , 1501px 1049px #ff9528 , 228px 527px #ff9528 , 1852px 123px #ff9528 , 1209px 260px #ff9528 , 1563px 1952px #ff9528 , 955px 83px #ff9528 , 1984px 1052px #ff9528 , 1348px 628px #ff9528 , 1495px 1986px #ff9528 , 1913px 412px #ff9528 , 1581px 1836px #ff9528 , 1201px 689px #ff9528 , 535px 1488px #ff9528 , 1458px 1053px #ff9528 , 975px 1801px #ff9528 , 1901px 1068px #ff9528 , 603px 1107px #ff9528 , 1182px 614px #ff9528 , 365px 1304px #ff9528 , 477px 98px #ff9528 , 1411px 1154px #ff9528 , 456px 1387px #ff9528 , 1471px 1577px #ff9528 , 136px 724px #ff9528 , 82px 834px #ff9528 , 1649px 1741px #ff9528 , 1508px 1541px #ff9528 , 1368px 1187px #ff9528 , 1513px 1983px #ff9528 , 1450px 123px #ff9528 , 736px 1095px #ff9528 , 833px 326px #ff9528 , 359px 326px #ff9528 , 1179px 198px #ff9528 , 70px 646px #ff9528 , 1231px 1530px #ff9528 , 947px 1819px #ff9528 , 1937px 14px #ff9528 , 548px 1820px #ff9528 , 559px 1468px #ff9528 , 1869px 566px #ff9528 , 511px 271px #ff9528 , 201px 1569px #ff9528 , 22px 1982px #ff9528 , 32px 1437px #ff9528 , 1291px 1048px #ff9528 , 422px 1216px #ff9528 , 960px 858px #ff9528 , 1092px 1489px #ff9528 , 659px 126px #ff9528 , 1067px 1589px #ff9528 , 886px 1463px #ff9528 , 129px 193px #ff9528 , 1558px 683px #ff9528 , 801px 935px #ff9528 , 1273px 1869px #ff9528 , 1605px 1899px #ff9528 , 395px 1806px #ff9528 , 1271px 1020px #ff9528 , 187px 797px #ff9528 , 1467px 378px #ff9528 , 810px 321px #ff9528 , 1517px 1417px #ff9528 , 307px 1908px #ff9528 , 1369px 758px #ff9528 , 1691px 1207px #ff9528 , 1701px 1043px #ff9528 , 597px 884px #ff9528 , 559px 591px #ff9528 , 1048px 525px #ff9528 , 1233px 1730px #ff9528 , 334px 645px #ff9528 , 1190px 1768px #ff9528 , 22px 1631px #ff9528 , 960px 82px #ff9528 , 404px 1559px #ff9528 , 914px 281px #ff9528 , 378px 995px #ff9528 , 503px 570px #ff9528 , 1327px 340px #ff9528 , 673px 1951px #ff9528 , 1141px 1317px #ff9528 , 1461px 1092px #ff9528 , 1045px 1851px #ff9528 , 801px 1060px #ff9528 , 85px 1697px #ff9528 , 133px 1833px #ff9528 , 1006px 184px #ff9528 , 348px 1406px #ff9528 , 1680px 1809px #ff9528 , 1306px 1867px #ff9528 , 489px 1597px #ff9528 , 289px 471px #ff9528 , 1071px 1426px #ff9528 , 42px 527px #ff9528 , 1430px 787px #ff9528 , 76px 1336px #ff9528 , 1936px 634px #ff9528 , 181px 412px #ff9528 , 1052px 1860px #ff9528 , 948px 792px #ff9528 , 608px 598px #ff9528 , 1653px 333px #ff9528 , 496px 611px #ff9528 , 1037px 123px #ff9528 , 549px 1060px #ff9528 , 600px 1116px #ff9528 , 1579px 1398px #ff9528 , 1954px 688px #ff9528 , 1044px 1344px #ff9528 , 1715px 103px #ff9528 , 137px 197px #ff9528 , 1319px 115px #ff9528 , 1302px 1447px #ff9528 , 1564px 242px #ff9528 , 695px 946px #ff9528 , 204px 199px #ff9528 , 1280px 608px #ff9528 , 1483px 286px #ff9528 , 1614px 1414px #ff9528 , 1241px 861px #ff9528 , 723px 1832px #ff9528 , 842px 1893px #ff9528 , 1037px 1902px #ff9528 , 344px 848px #ff9528 , 1579px 787px #ff9528 , 1257px 1180px #ff9528 , 1009px 1447px #ff9528 , 1162px 1490px #ff9528 , 407px 1925px #ff9528 , 1807px 1778px #ff9528 , 848px 790px #ff9528 , 1456px 485px #ff9528 , 1996px 809px #ff9528 , 1160px 572px #ff9528 , 488px 1722px #ff9528 , 243px 1531px #ff9528 , 1174px 1624px #ff9528 , 1010px 545px #ff9528 , 1844px 952px #ff9528 , 432px 1432px #ff9528 , 233px 1396px #ff9528 , 1575px 1925px #ff9528 , 160px 1056px #ff9528 , 1708px 466px #ff9528 , 1473px 1079px #ff9528 , 277px 1048px #ff9528 , 421px 1577px #ff9528 , 1820px 487px #ff9528 , 1046px 499px #ff9528 , 1751px 1109px #ff9528 , 680px 808px #ff9528;
}

#stars3 {
  width: .5vh;
  height: .5vh;
  border-radius: 9999999px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 1374px 1866px #ff9528 , 1985px 1207px #ff9528 , 1425px 99px #ff9528 , 418px 1623px #ff9528 , 128px 770px #ff9528 , 1829px 646px #ff9528 , 1116px 1985px #ff9528 , 1614px 1318px #ff9528 , 1976px 1019px #ff9528 , 1938px 58px #ff9528 , 1076px 861px #ff9528 , 295px 82px #ff9528 , 414px 1204px #ff9528 , 1525px 952px #ff9528 , 890px 1743px #ff9528 , 877px 563px #ff9528 , 600px 1785px #ff9528 , 1811px 231px #ff9528 , 4px 79px #ff9528 , 1578px 838px #ff9528 , 182px 6px #ff9528 , 1737px 1497px #ff9528 , 1425px 1198px #ff9528 , 1648px 485px #ff9528 , 1086px 687px #ff9528 , 1779px 1877px #ff9528 , 523px 1794px #ff9528 , 706px 1036px #ff9528 , 105px 1226px #ff9528 , 1111px 207px #ff9528 , 1311px 887px #ff9528 , 930px 1892px #ff9528 , 217px 1846px #ff9528 , 1737px 1684px #ff9528 , 953px 330px #ff9528 , 1732px 712px #ff9528 , 1630px 418px #ff9528 , 1758px 1856px #ff9528 , 387px 1716px #ff9528 , 1213px 1464px #ff9528 , 1044px 4px #ff9528 , 6px 1073px #ff9528 , 441px 256px #ff9528 , 1725px 1800px #ff9528 , 748px 702px #ff9528 , 1612px 1633px #ff9528 , 1291px 1083px #ff9528 , 769px 1688px #ff9528 , 1602px 43px #ff9528 , 824px 125px #ff9528 , 200px 604px #ff9528 , 951px 1013px #ff9528 , 1424px 1497px #ff9528 , 1709px 207px #ff9528 , 231px 1208px #ff9528 , 1474px 1633px #ff9528 , 1914px 1182px #ff9528 , 561px 1199px #ff9528 , 1309px 960px #ff9528 , 1555px 869px #ff9528 , 853px 196px #ff9528 , 1570px 783px #ff9528 , 171px 1003px #ff9528 , 1763px 81px #ff9528 , 1579px 1636px #ff9528 , 517px 1809px #ff9528 , 422px 305px #ff9528 , 616px 568px #ff9528 , 1093px 1953px #ff9528 , 238px 633px #ff9528 , 233px 1105px #ff9528 , 438px 1220px #ff9528 , 1770px 344px #ff9528 , 1355px 1595px #ff9528 , 1239px 531px #ff9528 , 1017px 1593px #ff9528 , 1114px 1932px #ff9528 , 802px 1008px #ff9528 , 1957px 1808px #ff9528 , 757px 1790px #ff9528 , 1597px 363px #ff9528 , 978px 743px #ff9528 , 1264px 464px #ff9528 , 138px 1692px #ff9528 , 210px 1909px #ff9528 , 262px 1329px #ff9528 , 817px 740px #ff9528 , 1976px 1326px #ff9528 , 852px 9px #ff9528 , 817px 1591px #ff9528 , 855px 1581px #ff9528 , 456px 1319px #ff9528 , 231px 77px #ff9528 , 1424px 1578px #ff9528 , 1857px 786px #ff9528 , 1569px 954px #ff9528 , 1958px 904px #ff9528 , 1190px 1876px #ff9528 , 1540px 25px #ff9528 , 1356px 757px #ff9528 , 1150px 1120px #ff9528 , 1183px 1586px #ff9528 , 1326px 1111px #ff9528 , 1687px 358px #ff9528 , 928px 1703px #ff9528 , 1176px 33px #ff9528 , 668px 1185px #ff9528 , 1669px 638px #ff9528 , 1655px 1854px #ff9528 , 404px 4px #ff9528 , 1379px 536px #ff9528 , 1998px 315px #ff9528 , 789px 1338px #ff9528 , 1837px 1311px #ff9528 , 223px 1985px #ff9528 , 127px 601px #ff9528 , 314px 1186px #ff9528 , 1921px 888px #ff9528 , 1116px 263px #ff9528 , 539px 1454px #ff9528 , 1213px 1789px #ff9528 , 370px 941px #ff9528 , 1719px 1006px #ff9528 , 509px 707px #ff9528 , 111px 165px #ff9528 , 1607px 195px #ff9528 , 536px 1257px #ff9528 , 1114px 1335px #ff9528 , 1695px 1137px #ff9528 , 685px 766px #ff9528 , 1162px 71px #ff9528 , 1650px 349px #ff9528 , 1251px 16px #ff9528 , 1952px 491px #ff9528 , 1951px 1780px #ff9528 , 1994px 1152px #ff9528 , 7px 1818px #ff9528 , 349px 1497px #ff9528 , 734px 494px #ff9528 , 444px 1501px #ff9528 , 1782px 1589px #ff9528 , 1826px 1885px #ff9528 , 1765px 1665px #ff9528 , 399px 1175px #ff9528 , 1624px 628px #ff9528 , 4px 258px #ff9528 , 617px 1735px #ff9528 , 856px 543px #ff9528 , 373px 1281px #ff9528 , 884px 454px #ff9528 , 1528px 1944px #ff9528 , 121px 1739px #ff9528 , 251px 1432px #ff9528 , 182px 1875px #ff9528 , 1568px 1368px #ff9528 , 1181px 1309px #ff9528 , 931px 418px #ff9528 , 191px 382px #ff9528 , 1489px 629px #ff9528 , 1865px 1500px #ff9528 , 1862px 1956px #ff9528 , 1093px 356px #ff9528 , 41px 360px #ff9528 , 1625px 679px #ff9528 , 1783px 272px #ff9528 , 1675px 741px #ff9528 , 389px 423px #ff9528 , 663px 429px #ff9528 , 1083px 1550px #ff9528 , 877px 1312px #ff9528 , 1157px 1079px #ff9528 , 64px 246px #ff9528 , 88px 1517px #ff9528 , 968px 656px #ff9528 , 517px 1087px #ff9528 , 317px 115px #ff9528 , 885px 1815px #ff9528 , 1265px 77px #ff9528 , 1439px 1404px #ff9528 , 1228px 58px #ff9528 , 1690px 1291px #ff9528 , 1583px 1296px #ff9528 , 1874px 350px #ff9528 , 447px 1858px #ff9528 , 558px 1492px #ff9528 , 334px 105px #ff9528 , 1418px 1651px #ff9528 , 511px 26px #ff9528 , 1721px 1662px #ff9528 , 1399px 1969px #ff9528 , 1634px 123px #ff9528 , 1729px 529px #ff9528 , 151px 863px #ff9528 , 443px 1525px #ff9528 , 1004px 1986px #ff9528 , 1872px 1873px #ff9528 , 784px 795px #ff9528 , 1496px 1249px #ff9528 , 951px 1089px #ff9528 , 1017px 1653px #ff9528 , 883px 791px #ff9528 , 1366px 1397px #ff9528 , 1058px 584px #ff9528 , 1153px 1719px #ff9528 , 394px 710px #ff9528 , 1671px 893px #ff9528 , 1829px 1310px #ff9528 , 785px 803px #ff9528 , 1727px 980px #ff9528 , 1189px 1276px #ff9528 , 1521px 1481px #ff9528 , 345px 1155px #ff9528 , 290px 517px #ff9528 , 406px 1238px #ff9528 , 1235px 1413px #ff9528 , 1394px 223px #ff9528 , 97px 674px #ff9528 , 605px 1212px #ff9528 , 57px 367px #ff9528 , 701px 1483px #ff9528 , 190px 979px #ff9528 , 1384px 1012px #ff9528 , 798px 766px #ff9528 , 1754px 1489px #ff9528 , 1173px 686px #ff9528 , 841px 810px #ff9528 , 36px 1211px #ff9528 , 1324px 19px #ff9528 , 1263px 269px #ff9528 , 602px 768px #ff9528 , 860px 1676px #ff9528 , 860px 192px #ff9528 , 1447px 341px #ff9528 , 683px 1795px #ff9528 , 883px 1058px #ff9528 , 946px 729px #ff9528 , 1773px 1654px #ff9528 , 1910px 936px #ff9528 , 630px 1142px #ff9528 , 1365px 1038px #ff9528 , 240px 261px #ff9528 , 1590px 831px #ff9528 , 1264px 530px #ff9528 , 631px 1493px #ff9528 , 1307px 780px #ff9528 , 1458px 1460px #ff9528 , 1101px 890px #ff9528 , 1061px 682px #ff9528 , 1159px 1864px #ff9528 , 1228px 899px #ff9528;
  animation: animStar 100s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: .5vh;
  height: .5vh;
  background: transparent;
  box-shadow: 1374px 1866px #ff9528 , 1985px 1207px #ff9528 , 1425px 99px #ff9528 , 418px 1623px #ff9528 , 128px 770px #ff9528 , 1829px 646px #ff9528 , 1116px 1985px #ff9528 , 1614px 1318px #ff9528 , 1976px 1019px #ff9528 , 1938px 58px #ff9528 , 1076px 861px #ff9528 , 295px 82px #ff9528 , 414px 1204px #ff9528 , 1525px 952px #ff9528 , 890px 1743px #ff9528 , 877px 563px #ff9528 , 600px 1785px #ff9528 , 1811px 231px #ff9528 , 4px 79px #ff9528 , 1578px 838px #ff9528 , 182px 6px #ff9528 , 1737px 1497px #ff9528 , 1425px 1198px #ff9528 , 1648px 485px #ff9528 , 1086px 687px #ff9528 , 1779px 1877px #ff9528 , 523px 1794px #ff9528 , 706px 1036px #ff9528 , 105px 1226px #ff9528 , 1111px 207px #ff9528 , 1311px 887px #ff9528 , 930px 1892px #ff9528 , 217px 1846px #ff9528 , 1737px 1684px #ff9528 , 953px 330px #ff9528 , 1732px 712px #ff9528 , 1630px 418px #ff9528 , 1758px 1856px #ff9528 , 387px 1716px #ff9528 , 1213px 1464px #ff9528 , 1044px 4px #ff9528 , 6px 1073px #ff9528 , 441px 256px #ff9528 , 1725px 1800px #ff9528 , 748px 702px #ff9528 , 1612px 1633px #ff9528 , 1291px 1083px #ff9528 , 769px 1688px #ff9528 , 1602px 43px #ff9528 , 824px 125px #ff9528 , 200px 604px #ff9528 , 951px 1013px #ff9528 , 1424px 1497px #ff9528 , 1709px 207px #ff9528 , 231px 1208px #ff9528 , 1474px 1633px #ff9528 , 1914px 1182px #ff9528 , 561px 1199px #ff9528 , 1309px 960px #ff9528 , 1555px 869px #ff9528 , 853px 196px #ff9528 , 1570px 783px #ff9528 , 171px 1003px #ff9528 , 1763px 81px #ff9528 , 1579px 1636px #ff9528 , 517px 1809px #ff9528 , 422px 305px #ff9528 , 616px 568px #ff9528 , 1093px 1953px #ff9528 , 238px 633px #ff9528 , 233px 1105px #ff9528 , 438px 1220px #ff9528 , 1770px 344px #ff9528 , 1355px 1595px #ff9528 , 1239px 531px #ff9528 , 1017px 1593px #ff9528 , 1114px 1932px #ff9528 , 802px 1008px #ff9528 , 1957px 1808px #ff9528 , 757px 1790px #ff9528 , 1597px 363px #ff9528 , 978px 743px #ff9528 , 1264px 464px #ff9528 , 138px 1692px #ff9528 , 210px 1909px #ff9528 , 262px 1329px #ff9528 , 817px 740px #ff9528 , 1976px 1326px #ff9528 , 852px 9px #ff9528 , 817px 1591px #ff9528 , 855px 1581px #ff9528 , 456px 1319px #ff9528 , 231px 77px #ff9528 , 1424px 1578px #ff9528 , 1857px 786px #ff9528 , 1569px 954px #ff9528 , 1958px 904px #ff9528 , 1190px 1876px #ff9528 , 1540px 25px #ff9528 , 1356px 757px #ff9528 , 1150px 1120px #ff9528 , 1183px 1586px #ff9528 , 1326px 1111px #ff9528 , 1687px 358px #ff9528 , 928px 1703px #ff9528 , 1176px 33px #ff9528 , 668px 1185px #ff9528 , 1669px 638px #ff9528 , 1655px 1854px #ff9528 , 404px 4px #ff9528 , 1379px 536px #ff9528 , 1998px 315px #ff9528 , 789px 1338px #ff9528 , 1837px 1311px #ff9528 , 223px 1985px #ff9528 , 127px 601px #ff9528 , 314px 1186px #ff9528 , 1921px 888px #ff9528 , 1116px 263px #ff9528 , 539px 1454px #ff9528 , 1213px 1789px #ff9528 , 370px 941px #ff9528 , 1719px 1006px #ff9528 , 509px 707px #ff9528 , 111px 165px #ff9528 , 1607px 195px #ff9528 , 536px 1257px #ff9528 , 1114px 1335px #ff9528 , 1695px 1137px #ff9528 , 685px 766px #ff9528 , 1162px 71px #ff9528 , 1650px 349px #ff9528 , 1251px 16px #ff9528 , 1952px 491px #ff9528 , 1951px 1780px #ff9528 , 1994px 1152px #ff9528 , 7px 1818px #ff9528 , 349px 1497px #ff9528 , 734px 494px #ff9528 , 444px 1501px #ff9528 , 1782px 1589px #ff9528 , 1826px 1885px #ff9528 , 1765px 1665px #ff9528 , 399px 1175px #ff9528 , 1624px 628px #ff9528 , 4px 258px #ff9528 , 617px 1735px #ff9528 , 856px 543px #ff9528 , 373px 1281px #ff9528 , 884px 454px #ff9528 , 1528px 1944px #ff9528 , 121px 1739px #ff9528 , 251px 1432px #ff9528 , 182px 1875px #ff9528 , 1568px 1368px #ff9528 , 1181px 1309px #ff9528 , 931px 418px #ff9528 , 191px 382px #ff9528 , 1489px 629px #ff9528 , 1865px 1500px #ff9528 , 1862px 1956px #ff9528 , 1093px 356px #ff9528 , 41px 360px #ff9528 , 1625px 679px #ff9528 , 1783px 272px #ff9528 , 1675px 741px #ff9528 , 389px 423px #ff9528 , 663px 429px #ff9528 , 1083px 1550px #ff9528 , 877px 1312px #ff9528 , 1157px 1079px #ff9528 , 64px 246px #ff9528 , 88px 1517px #ff9528 , 968px 656px #ff9528 , 517px 1087px #ff9528 , 317px 115px #ff9528 , 885px 1815px #ff9528 , 1265px 77px #ff9528 , 1439px 1404px #ff9528 , 1228px 58px #ff9528 , 1690px 1291px #ff9528 , 1583px 1296px #ff9528 , 1874px 350px #ff9528 , 447px 1858px #ff9528 , 558px 1492px #ff9528 , 334px 105px #ff9528 , 1418px 1651px #ff9528 , 511px 26px #ff9528 , 1721px 1662px #ff9528 , 1399px 1969px #ff9528 , 1634px 123px #ff9528 , 1729px 529px #ff9528 , 151px 863px #ff9528 , 443px 1525px #ff9528 , 1004px 1986px #ff9528 , 1872px 1873px #ff9528 , 784px 795px #ff9528 , 1496px 1249px #ff9528 , 951px 1089px #ff9528 , 1017px 1653px #ff9528 , 883px 791px #ff9528 , 1366px 1397px #ff9528 , 1058px 584px #ff9528 , 1153px 1719px #ff9528 , 394px 710px #ff9528 , 1671px 893px #ff9528 , 1829px 1310px #ff9528 , 785px 803px #ff9528 , 1727px 980px #ff9528 , 1189px 1276px #ff9528 , 1521px 1481px #ff9528 , 345px 1155px #ff9528 , 290px 517px #ff9528 , 406px 1238px #ff9528 , 1235px 1413px #ff9528 , 1394px 223px #ff9528 , 97px 674px #ff9528 , 605px 1212px #ff9528 , 57px 367px #ff9528 , 701px 1483px #ff9528 , 190px 979px #ff9528 , 1384px 1012px #ff9528 , 798px 766px #ff9528 , 1754px 1489px #ff9528 , 1173px 686px #ff9528 , 841px 810px #ff9528 , 36px 1211px #ff9528 , 1324px 19px #ff9528 , 1263px 269px #ff9528 , 602px 768px #ff9528 , 860px 1676px #ff9528 , 860px 192px #ff9528 , 1447px 341px #ff9528 , 683px 1795px #ff9528 , 883px 1058px #ff9528 , 946px 729px #ff9528 , 1773px 1654px #ff9528 , 1910px 936px #ff9528 , 630px 1142px #ff9528 , 1365px 1038px #ff9528 , 240px 261px #ff9528 , 1590px 831px #ff9528 , 1264px 530px #ff9528 , 631px 1493px #ff9528 , 1307px 780px #ff9528 , 1458px 1460px #ff9528 , 1101px 890px #ff9528 , 1061px 682px #ff9528 , 1159px 1864px #ff9528 , 1228px 899px #ff9528;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.NameAsImg {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  scale: .9;
}

@media (max-width: 1280px) {
  .NameAsImg {
    scale: .7;
    right: -6vw;
    bottom: -2vh;
  }
}

@media (max-width: 768px) {
  .NameAsImg {
    right: -10vw;
    bottom: -2vh;
  }
}

@media (max-width: 570px) {
  .NameAsImg {
    bottom: 0;
    right: -20vw;
    scale: .5;
    width: 100vw;
  }
}

.titles {
  top: 39vh;
  left: 45vw;
  position: absolute;
}

@media (max-width: 768px) {
  .titles {
    display: none;
  }
}

.ProjectstitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.ContacttitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  left: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.AbouttitleHidden {
  position: absolute;
  font-size: 3.2vw;
  top: 0vh;
  left: 0vh;
  transition: all ease-in-out 0.6s;
  opacity: 0;
}

.Projectstitle {
  position: absolute;
  font-size: 4vw;
  top: -17vw;
  z-index: 70;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Projectstitle:hover {
  transform: translateX(1vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.3;
}

@media (max-width: 1280px) {
  .Projectstitle {
    top: -27vh;
  }
}

@media (max-width: 768px) {
  .Projectstitle {
    font-size: 2vw;
    top: -32vw;
  }
}

.Contacttitle {
  position: absolute;
  font-size: 4vw;
  z-index: 70;
  top: -5vh;
  left: 22vw;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Contacttitle:hover {
  transform: translateX(3vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.2;
}

@media (max-width: 1280px) {
  .Contacttitle {
    left: 21vw;
  }
}

@media (max-width: 768px) {
  .Contacttitle {
    font-size: 2vw;
    top: -5vh;
    left: 29vh;
  }
}

.Abouttitle {
  position: absolute;
  font-size: 4vw;
  left: -22vw;
  top: -1vh;
  z-index: 70;
  transition: all ease-in-out 0.6s;
  opacity: 0.8;
  cursor: pointer;
}

.Abouttitle:hover {
  transform: translateX(-3vh) translateY(-2vh);
  z-index: 80;
  opacity: 1;
  scale: 1.2;
}

@media (max-width: 1280px) {
  .Abouttitle {
    left: -18vw;
    top: 1vh;
  }
}

@media (max-width: 768px) {
  .Abouttitle {
    font-size: 2vw;
    left: -31vh;
    top: 0vh;
  }
}

.titlesMobile {
  display: none;
}

@media (max-width: 768px) {
  .titlesMobile {
    font-size: 4vw;
    position: absolute;
    top: 2vh;
    left: 4vw;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .titlesMobile {
    font-size: 6vw;
  }
}

.arrowBack {
  position: absolute;
  top: 6vh;
  left: 3vw;
  scale: 2;
}

.AbouttitleMobileInActive {
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out .8s;
}

.ProjectstitleMobileInActive {
  position: absolute;
  left: 0;
  top: 13vh;
  transition: all ease-in-out .8s;
}

.ContacttitleMobileInActive {
  position: absolute;
  left: 0;
  top: 26vh;
  transition: all ease-in-out .8s;
}

.AbouttitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.ProjectstitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.ContacttitleMobileActive {
  transition: all ease-in-out .8s;
  position: absolute;
  top: 0;
  left: 30vw;
  font-size: 8vw;
}

.titlesMobileHidden {
  opacity: 0;
  transform: translateX(-35vw);
  transition: all ease-in-out .5s;
}

.PageIsLoad {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  width: 80vw;
  height: 75vh;
  z-index: 100;
  margin: 10vh;
  animation: pageLoader 0.5s linear;
}

@media (max-width: 768px) {
  .PageIsLoad {
    width: 80%;
    height: auto;
    margin: 0;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes pageLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PageTitle {
  display: flex;
  align-items: center;
  font-size: 6vh;
}

@media (max-width: 768px) {
  .PageTitle {
    display: none;
  }
}

.BackIcon {
  width: 4vh;
  height: 4vh;
  margin: 0vh 2vh;
  justify-self: flex-start;
  cursor: pointer;
}

.BackIcon:hover {
  color: rgba(255, 115, 0, 0.945);
}

.AboutContent {
  font-size: 2vh;
  margin: 4vh 8vh;
  display: inline;
}

@media (max-width: 768px) {
  .AboutContent {
    font-size: 1.6vh;
  }
}

@media (max-width: 570px) {
  .AboutContent {
    font-size: 1.6vh;
    margin: 2vh 12vw;
    width: 80%;
  }
}

.AboutContent span {
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.ProjectList {
  overflow-wrap: break-word;
  list-style: none;
  display: inline-grid;
  grid-template-columns: 24% 24% 24%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .ProjectList {
    grid-template-columns: 49% 49%;
  }
}

.ProjectListItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  position: relative;
  width: 100%;
}

.ProjectListItem::before {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  opacity: .2;
  top: 0;
  left: 0;
  transition: .1s all ease-in-out;
}

.ProjectListItem:hover::before {
  opacity: .5;
}

@media (max-width: 768px) {
  .ProjectListItem {
    font-size: 11px;
  }
}

.ProjectListItem:hover {
  color: rgba(255, 115, 0, 0.945);
}

.Hidden {
  display: none;
}

.projectDisplayIsActive {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 86vw;
  position: absolute;
}

.ProjectTitle {
  display: flex;
  align-items: center;
}

.ProjectLink {
  font-size: 4vh;
  text-decoration: none;
  color: white;
}

.ProjectLink:hover {
  color: rgba(255, 115, 0, 0.945);
}

.link {
  transform: rotate(90deg);
  width: 4vh;
  height: 3vh;
  cursor: pointer;
}

.ProjectDetails {
  margin-top: 2vh;
  margin-left: 9vh;
  font-size: 2vh;
}

.ProjectLinks {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  text-decoration: none;
}

.ProjectLinks:hover {
  color: rgba(255, 115, 0, 0.945);
  text-decoration: underline;
}

.ProjectLinks .ProjectLinkIcon {
  transform: rotate(90deg);
}

.ContactContent {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  width: 35vw;
  margin-left: 4.5vw;
}

@media (max-width: 768px) {
  .ContactContent {
    width: 80vw;
    font-size: 4vw;
    align-items: center;
    margin-left: 0vw;
  }
}

.ContactContent button {
  width: 30vw;
  height: 5vh;
  font-size: 1.6vw;
  background-color: #ffffff;
  border: none;
  color: rgba(98, 148, 197, 0.7);
  cursor: pointer;
  transition: scale 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .ContactContent button {
    width: 85vw;
    font-size: 4vw;
  }
}

.ContactContent button:hover {
  scale: 1.05;
  background-color: #f3f3f3;
}

.ContactAlso {
  position: absolute;
  bottom: 10vh;
  left: -6.5vh;
}

@media (max-width: 768px) {
  .ContactAlso {
    bottom: -10vh;
    left: 12vw;
  }
}

.UnderContactTitle {
  letter-spacing: 0.2vh;
  font-size: 2vh;
  margin: 2vh 0vh;
}

@media (max-width: 768px) {
  .UnderContactTitle {
    width: 80vw;
    font-size: 4vw;
  }
}

.PersonalInfoInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  margin-top: 3vh;
}

@media (max-width: 768px) {
  .PersonalInfoInput {
    width: 80vw;
    font-size: 4vw;
  }
}

.PersonalInfoInput input {
  width: 14.5vw;
  height: 4vh;
  border: none;
  background: rgba(98, 148, 197, 0.7);
  font-size: 1.5vw;
  border: 0.1vh solid #ffffff;
  color: #ffffff;
}

@media (max-width: 768px) {
  .PersonalInfoInput input {
    font-size: 3.6vw;
    width: 38vw;
  }
}

.PersonalInfoInput input::placeholder {
  padding: 0.5vh;
  color: #ffffff;
}

.PersonalInfoInput input:focus {
  outline: none;
}

.PersonalInfoInput input:focus::placeholder {
  color: transparent;
}

.MessageInput {
  width: 30vw;
  height: 20vh;
  margin: 2vh 0vh;
  background-color: aliceblue;
  resize: none;
  background: rgba(98, 148, 197, 0.7);
  border: 0.1vh solid #ffffff;
  color: #ffffff;
  font-size: 1.5vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2vh;
}

@media (max-width: 768px) {
  .MessageInput {
    font-size: 3.6vw;
    width: 80vw;
  }
}

.MessageInput:focus {
  outline: none;
}

.MessageInput::placeholder {
  color: #ffffff;
  font-size: 1.4vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2vh;
  padding: 0.5vh;
}

.MessageInput:focus::placeholder {
  color: transparent;
}

@media (max-width: 768px) {
  .detailsSmall {
    font-size: 3.2vw;
  }
}
